{% block choice_widget %}

    {% set chosen = [] %}

    {% if data %}
        {% for item in data.values()  %}
            {% set chosen = chosen| merge([item.id]) %}
        {% endfor %}
    {% endif %}

    <checkbox-items
        :changer="'{{ form.parent.children[attr['data-dependency-field-id']].vars.id|default('') }}'"
        :name="'{{ full_name }}'"
        :chosen="[ {{ chosen | join(',') }} ]"
        :url="'{{ attr['request-url-key'] }}'"
    ></checkbox-items>

{% endblock %}
