{% block date_time_picker_widget %}
    {% spaceless %}
        {{ block('date_picker_widget') }}
        {{ block('time_picker_widget') }}
    {% endspaceless %}
{% endblock %}

{% block date_picker_widget %}
    {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' datepicker')|trim)}) %}
    {% set full_name = full_name ~ '[date]' %}
    <input type="text"
            {{ block('widget_attributes') }}
            {% if value is not empty %}value="{{ value['date'] }}" {% endif %}
    />
{% endblock %}

{% block time_picker_widget %}
    {% set attr = attr|merge({'class': ((attr.class|default('') ~ ' timepicker')|trim)}) %}
    {% set full_name = full_name ~ '[time]' %}
    <input type="text"
            {{ block('widget_attributes') }}
            {% if value is not empty %}value="{{ value['time'] }}" {% endif %}
    />
{% endblock %}
