{% block event_dates_row %}
    <div class="three-columns clearfix">
        {{ form_row(form.dateBegin) }}
        {{ form_row(form.dateEnd) }}
        {% if form.vars['has_reception_date'] %}
            {{ form_row(form.dateReceptionEnd) }}
        {% endif %}
    </div>

    {% if form.vars['has_duration'] %}
        <div class="clearfix">
            <div class="duration-wrapper">
                {{ form_row(form.duration) }}
            </div>
            <div class="duration-type-wrapper">
                {{ form_row(form.durationType) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
