{% block choice_widget_expanded %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' select-all')|trim}) %}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="child-line">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
        <input type="checkbox" class='select-all-trigger' />
        <label>Все</label>
    </div>
{% endblock %}
