{% block file_entity_widget %}
    <p>
        <input type="file" multiple="multiple" name="{{ full_name }}[files][]"
            {{ block('widget_attributes') }} />
    </p>
    {% if(values is defined) %}
        <ul class="list-group">
            {% for item in values %}
                <li class="list-group-item">
                    <a target="_blank" href="{{ fileService.getFileHref(item) }}">{{ item.originalName }}</a>
                    <div class="pull-right">
                        <label>
                            Удалить
                            <input  type="checkbox" name="{{ full_name }}[delete][]" value="{{ item.id }}">
                        </label>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
