{% block choice_widget %}

    {% set chosen = [] %}
    {% if data is not null %}
        {% if data is iterable %}
            {% for item in data %}
                {% set chosen = chosen| merge([item.id]) %}
            {% endfor %}
        {% else %}
            {% set chosen = chosen| merge([data.id]) %}
        {% endif %}
    {% endif %}

    <select-items
        :changer="'{{ form.parent.children[attr['data-dependency-field-id']].vars.id|default('') }}'"
        :name="'{{ full_name }}'"
        :chosen="[ {{ chosen | join(',') }} ]"
        :url="'{{ attr['request-url-key'] }}'"
        :placeholder="'{{ 'none'| trans([], 'dictionary') }}'"
        :required-attr="'{{ required }}'"
        :multiple="'{{ multiple }}'"
        :load-all-when-empty = "'{{ form.vars['load_all_when_empty']|default(false)}}'"
    ></select-items>

{% endblock %}
