{% block uploaded_document_row %}
    <div class="clearfix form-file-upload">
        <div class="{{ form.contentStatus is defined ? 'col-md-8' : 'col-md-12' }}">
            <div class="row">
                <div class="pull-left">
                    <div class="input-group">
                        {{ form_widget(form.name) }}
                        <span class="input-group-addon default-input" id="{{ form.vars.id }}_extension_view">
                            .
                            {% if form.vars.value %}
                                {{ form.vars.value.extension }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% if form.contentStatus is defined %}
                    <div class="pull-left">
                        {% set is_approved = form.contentStatus.vars.data == 11 %}
                        {{ form_widget(form.contentStatus) }}
                    </div>
                {% endif %}
                    <div class="remove-form {{ form.contentStatus.vars.data|default(null) == 11 ? 'archive-form' }}">
                    </div>
            </div>
        </div>
        {{ form_widget(form.id) }}
        {{ form_widget(form.extension) }}
    </div>
{% endblock %}
