<div>
    <div id="{{ prefix }}-file-error-path"></div>
    <button class="blue-button default-button fileinput-button"
          id="{{ prefix == "" ? prefix : prefix ~ '-' }}fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{{ 'uploaded_documents.select'|trans }}</span>
    </button>
    <input id="{{ prefix == "" ? prefix : prefix ~ '-' }}fileupload" class="hidden" type="file" name="files[]">
</div>
<script>
    var AGU = typeof AGU === 'undefined' ? {} : AGU;
    AGU.UploadedDocuments = AGU.UploadedDocuments !== undefined ? AGU.UploadedDocuments : [];
    AGU.UploadedDocuments.push({
        counter: {{ count }},
        deleteDocumentLinkMessage: "{{ 'uploaded_documents.remove'|trans }}",
        uploadPath: "{{ oneup_uploader_endpoint('temp') }}",
        errorMessage: "{{ 'uploaded_documents.error'|trans }}",
        prefix: "{{ prefix }}"
    });
</script>

