{% extends '@App/base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% set body_class = 'default-page members-page tinted' %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% set data = static_data('about') %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'middle-menu.association-about' | trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-md-2 about-asso-info">

                        <img class="news-show-logo"
                             src="{{ data.translate().image ? data.translate().imagePath : asset('bundles/app/css/img/logo-blue.png') }}"
                             alt=""/>

                        {{ data.translate().leftBlock|raw }}

                    </div>
                    <div class="col-md-7 about-asso practice-content">
                        {{ data.translate().text|raw }}
                        {% for file in data.uploadedDocuments %}
                            <a href="{{ path('download.document', {id: file.id}) }}" target="_blank" class="download-link">
                                {{ file.downloadName }} <span>{{ file.formattedBytes }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3">
                        {% include '@App/default/News/association_news.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
