{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}default-page council-page tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'middle-menu.association-council' | trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                {% set data = static_data('council') %}
                <div class="content-text">
                    {{ data.translate().text|raw }}
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="person-item">
                            <div class="clearfix">
                                {% set chairman = personality('chairman', 1) %}
                                <a href="{{ chairman.link ?? 'javascript:void(0)' }}" class="{{ chairman.image ? '' : 'person-ico-default' }}">
                                    <img src="{{ chairman.imagePath }}" class="person-ico" alt=""/>
                                </a>
                                <div class="pull-left">
                                    <p class="default-label">{{ chairman.associationPosition.transKey|trans([], 'dictionary') }}</p>
                                    <h3><a href="{{ chairman.link ?? 'javascript:void(0)' }}">{{ chairman.fullName }}</a></h3>
                                    <p>{{ chairman.professionalPosition }}</p>
                                    <p><a href="{{ chairman.workPlace.translate().url }}">{{ chairman.workPlace }}</a></p>
                                </div>
                            </div>
                            <div class="person-addition-info">
                                {{ data.translate().competenceOfChairman|raw }}
                            </div>
                            <button class="default-button show-info" data-text="{{ 'hide' | trans }} {{ 'competences' | trans }}">{{ 'show' | trans }} {{ 'competences' | trans }}</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="person-item">
                            {% set executive = personality('executive', 1) %}
                            <div class="clearfix">
                                <a href="{{ executive.link ?? 'javascript:void(0)' }}" class="{{ executive.image ? '' : 'person-ico-default' }}">
                                    <img src="{{ executive.imagePath }}" class="person-ico" alt=""/>
                                </a>
                                <div class="pull-left">
                                    <p class="default-label">{{ executive.associationPosition.transKey|trans([], 'dictionary') }}</p>
                                    <h3><a href="{{ executive.link ?? 'javascript:void(0)' }}">{{ executive.fullName }}</a></h3>
                                    <p>{{ executive.professionalPosition }}</p>
                                    <p><a href="{{ executive.workPlace.translate().url }}">{{ executive.workPlace }}</a></p>
                                </div>
                            </div>
                            <div class="person-addition-info">
                                {{ data.translate().competenceOfExecutive|raw }}
                            </div>
                            <button class="default-button show-info" data-text="{{ 'hide' | trans }} {{ 'competences' | trans }}">{{ 'show' | trans }} {{ 'competences' | trans }}</button>
                        </div>
                    </div>
                </div>
                {% set members = personality('council_member') %}
                <div class="row clearfix">
                    {% for member in members %}
                    <div class="col-sm-6">
                        <div class="person-item">
                            <div class="clearfix">
                                <a href="{{ member.link ?? 'javascript:void(0);' }}" class="{{ member.image ? '' : 'person-ico-default' }}">
                                    <img src="{{ member.imagePath }}" class="person-ico" alt=""/>
                                </a>
                                <div class="pull-left">
                                    <p class="default-label">{{ member.associationPosition.transKey|trans([], 'dictionary') }}</p>
                                    <h3><a href="{{ member.link }}">{{ member.fullName }}</a></h3>
                                    <p>{{ member.professionalPosition }}</p>
                                    <p><a href="{{ member.workPlace.translate().url }}">{{ member.workPlace }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% set honoraryMembers = personality('honorary_council_member') %}
                    {% for member in honoraryMembers %}
                        <div class="col-sm-6">
                            <div class="person-item">
                                <div class="clearfix">
                                    <a href="{{ member.link ?? 'javascript:void(0);' }}" class="{{ member.image ? '' : 'person-ico-default' }}">
                                        <img src="{{ member.imagePath }}" class="person-ico" alt=""/>
                                    </a>
                                    <div class="pull-left">
                                        <p class="default-label">{{ member.associationPosition.transKey|trans([], 'dictionary') }}</p>
                                        <h3>
                                            <a href="{{ member.link }}">{{ member.fullName }}</a></h3>
                                        <p>{{ member.professionalPosition }}</p>
                                        <p><a href="{{ member.workPlace.translate().url }}">{{ member.workPlace }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
