{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}default-page members-page tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'middle-menu.association-members' | trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="rubrics rubrics-members clearfix row">
                    {% for university in universities %}
                        <div class="col-lg-4 col-md-6">
                            <a href="{{ path('home.university.index', {'id': university.id}) }}" class="rubrics-item">
                                <p>{{ uni_logo(university) }}</p>
                                <p>{{ university.translate().getFullName() }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
