{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}researches-page researches-phd tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'top-menu.phd' | trans }}
                </h1>
                <div class="researches-search researches-phd" id="researches-search">
                    <input id="search" class="default-input" type="search" placeholder="{{ 'phd_find' | trans }}"/>
                    <p>
                        <a href="#" data-mobility="2" class="search-mobility pink-button default-button">
                            {{ 'middle-menu.postdock' | trans }}
                        </a>
                        <a href="#" data-mobility="1" class="search-mobility pink-button default-button">
                            {{ 'middle-menu.internships' | trans }}
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container clearfix">
                <div class="researches-info">
                    {% set data = static_data('phd') %}
                    {{ data.translate().text | raw }}
                    <div class="about-numbers clearfix">
                        {% for highlight in data.translate().highlights %}
                            <div>
                                <p class="about-title">
                                    {{ highlight.number }}
                                </p>
                                <p class="about-info">
                                    {{ highlight.description }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <h2 class="middle-title">{{ 'phd_title_2' | trans }}</h2>
                <div class="clearfix">
                    {% for view in views %}
                        {% include "AppBundle:StaticPage:rubric_item.html.twig" with {view: view} %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {# News section #}
        {{ render(controller('AppBundle:Default:newsAndEvents',{'section': 'phd'})) }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include "AppBundle:StaticPage:search_link_mobility.html.twig" %}
{% endblock javascripts %}
