{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}default-page council-page tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'middle-menu.audit-cometee' | trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                {% set data = static_data('commettee') %}
                <div class="content-text">
                    {{ data.translate().text | raw }}
                </div>
                {% set chairman = personality('revision_commettee_chairman', 1) %}
                {% set members = personality('revision_commettee_member') %}
                {% set members = [chairman]|merge(members) %}

                <div class="row clearfix">
                {% for member in members %}
                    <div class="col-sm-6">
                        <div class="person-item">
                            <div class="clearfix">
                                <a href="{{ member.link ?? 'javascript:void(0);' }}" class="{{ member.image ? '' : 'person-ico-default' }}">
                                    <img src="{{ member.imagePath }}" class="person-ico" alt="" />
                                </a>
                                <div class="pull-left">
                                    <p class="default-label">{{ member.associationPosition|trans([], 'dictionary') }}</p>
                                    <h3><a href="{{ member.link }}">{{ member.fullName }}</a></h3>
                                    <p>{{ member.professionalPosition }}</p>
                                    <p><a href="{{ member.workPlace.translate().url }}">{{ member.workPlace }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </section>
    </main>
{% endblock %}
