<div class="rubrics-item">
    <span class="rubric-counter">{{ view['count'] }}</span>
    {% if view['link'] != false %}
        <a href="{{ view['link'] }}"
           class="rubric-title">{{ view['translate']|trans }}</a>
    {% else %}
        <span class="rubric-title">{{ view['translate']|trans }}</span>
    {% endif %}

</div>
