<script>
    $('.search-contest').click(function (e) {
        var contestType = $(this).data('contest');
        var link = '{{ path("main.contest.list") }}?title=_title_&contestType=_type_';
        var $input = $('#search');
        if (contestType === undefined) {
            contestType = '';
        }

        link = link
            .replace('_title_', $input.val())
            .replace('_type_', contestType);

        $(this).attr('href',link);
    })
</script>
