<script>
    $('.search-mobility').click(function (e) {
        var mobilityType = $(this).data('mobility');
        var link = '{{ path("main.academic_mobility.list") }}?title=_title_&mobilityType=_type_';
        var $input = $('#search');

        link = link
            .replace('_title_', $input.val())
            .replace('_type_', mobilityType);

        $(this).attr('href',link);
    })
</script>
