<script>
    $('.search-program').click(function (e) {
        var educationLevel = $(this).data('level');
        var link = '{{ path("main.program.list") }}?name=_name_&educationLevel=_level_';
        var $input = $('#search');

        link = link
            .replace('_name_', $input.val())
            .replace('_level_', educationLevel);

        $(this).attr('href',link);
    })
</script>
