{% extends '@App/Email/base_email.html.twig' %}

{% block content %}
    {# email subject #}Новые записи в "Лучших практиках" для модерации{{ "\n" }} {# email subject #}
    <p>{{ data|length }} новых записей в разделе "Лучшие практики" ждут модерации.</p>
    <ul>
        {% for news in data %}
            {% if loop.index <= 5 %}
                <li>
                    <a href="{{ app_url ~ path('profile.practice.edit', {id: news.id, _locale: 'ru'}) }}">{{ news.translate().title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
