{% extends '@App/Email/base_email.html.twig' %}

{% block content %}
    {# email subject #}Новые записи в разделе "Новости" на модерации{{ "\n" }} {# email subject #}
    <p>{{ data|length }} новых записей в разделе "Новости" ждут модерации:</p>
    <ul>
        {% for practice in data %}
            {% if loop.index <= 5 %}
                <li>
                    <a href="{{ app_url ~ path('profile.news.edit', {id: practice.id, _locale: 'ru'}) }}">{{ practice.translate().title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
