{% extends '@App/Email/base_email.html.twig' %}

{% block content %}
    {# email subject #}Новые записи в разделе "Партнеры" на модерации{{ "\n" }} {# email subject #}
    <p>{{ data|length }} новых записей в разделе "Партнеры" ждут модерации:</p>
    <ul>
        {% for partner in data %}
            {% if loop.index <= 5 %}
                <li>
                    <a href="{{ app_url ~ path('profile.partner.edit', {id: partner.id, _locale: 'ru'}) }}">{{ partner.translate().name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
