{% extends '@App/Email/base_email.html.twig' %}

{% block content %}
    {# email subject #}Страница университета обновлена{{ "\n" }} {# email subject #}
    <p><a href="{{ app_url ~ path('profile.university.index', {_locale: 'ru'} ) }}">Страница университета</a> была изменена.</p>
{% endblock %}
