{% extends 'AppBundle::base.html.twig' %}


{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block body_class %}error-page{% endblock %}

{% block body %}
    <main>
        <section>
            <h1><strong>404</strong><p>К сожалению,<br/> страница не найдена</p></h1>
        </section>
    </main>

{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}
