{% for knowledgeAreaRow in knowledgeAreaData %}
    <div class="rubrics-item">
        <span class="rubric-counter">{{ knowledgeAreaRow.programCount }}</span>
        <a href="{{ path('main.program.list', {'knowledgeArea': knowledgeAreaRow.knowledgeArea.id}) }}"
           class="rubric-title">{{ knowledgeAreaRow.knowledgeArea|trans([], 'dictionary') }}</a>
        {% set number = 0 %}
        <p>

            {% for knowledgeAreaItemRow in knowledgeAreaItemData
                if number < 3 and knowledgeAreaItemRow.knowledgeAreaId == knowledgeAreaRow.knowledgeArea.id
            %}
                {% set number = number + 1 %}
                <a href="{{ path('main.program.list',
                    {
                        'knowledgeArea': knowledgeAreaRow.knowledgeArea.id,
                        'knowledgeAreaItem[]': knowledgeAreaItemRow.knowledgeAreaItem.id
                    }
                )}}">{{ knowledgeAreaItemRow.knowledgeAreaItem.transKey|trans([], 'dictionary') }}
                    <sup class="kai-count">{{ knowledgeAreaItemRow.programs }}</sup></a>
            {% endfor %}

        </p>
    </div>
{% endfor %}
