{% for knowledgeAreaRow in knowledgeAreaAcademicData %}
    <div class="rubrics-item">
        <span class="rubric-counter">{{ knowledgeAreaRow.academicCount }}</span>
        <span
           class="rubric-title">{{ knowledgeAreaRow.knowledgeArea|trans([], 'dictionary') }}</span>
        {% set number = 0 %}
        <p>

            {% for knowledgeAreaItemRow in knowledgeAreaItemAcademicData
                if number < 3 and knowledgeAreaItemRow.knowledgeAreaId == knowledgeAreaRow.knowledgeArea.id
            %}
                {% set number = number + 1 %}
                <a href="{{ path('main.academic_mobility.list',
                    {
                        'knowledgeAreaItems[]': knowledgeAreaItemRow.knowledgeAreaItem.id
                    }
                )}}">{{ knowledgeAreaItemRow.knowledgeAreaItem.transKey|trans([], 'dictionary') }}
                    <sup class="kai-count">{{ knowledgeAreaItemRow.academics }}</sup></a>
            {% endfor %}

        </p>
    </div>
{% endfor %}
