{% for knowledgeAreaRow in knowledgeAreaContestData %}
    <div class="rubrics-item">
        <span class="rubric-counter">{{ knowledgeAreaRow.contestCount }}</span>
        <span
           class="rubric-title">{{ knowledgeAreaRow.knowledgeArea|trans([], 'dictionary') }}</span>
        {% set number = 0 %}
        <p>

            {% for knowledgeAreaItemRow in knowledgeAreaItemContestData
                if number < 3 and knowledgeAreaItemRow.knowledgeAreaId == knowledgeAreaRow.knowledgeArea.id
            %}
                {% set number = number + 1 %}
                <a href="{{ path('main.contest.list',
                    {
                        'knowledgeAreaItems[]': knowledgeAreaItemRow.knowledgeAreaItem.id
                    }
                )}}">{{ knowledgeAreaItemRow.knowledgeAreaItem.transKey|trans([], 'dictionary') }}
                    <sup class="kai-count">{{ knowledgeAreaItemRow.contests }}</sup></a>
            {% endfor %}

        </p>
    </div>
{% endfor %}
