<section class="programs-filter">
    <div class="container">
        <ul class="nav nav-tabs main-nav">
            <li class="active">
                <a href="#" data-toggle="tab" data-target="#rubrics-1">{{ 'middle-menu.header.search.programs' | trans }}</a>
            </li><li>
                <a href="#" data-toggle="tab" data-target="#rubrics-2">{{ 'contests' | trans }}</a>
            </li><li>
                <a href="#" data-toggle="tab" data-target="#rubrics-3">{{ 'middle-menu.header.search.mobility' | trans }}</a>
            </li>
        </ul>
        <div class="rubrics clearfix tab-content">
            <div id="rubrics-1" class="tab-pane active">

                {% include '@App/default/MainPage/fast_filter_programs.html.twig'
                    with {'knowledgeAreaData': knowledgeAreaData, 'knowledgeAreaItemData': knowledgeAreaItemData }
                %}

            </div>
            <div id="rubrics-2" class="tab-pane">
                {% include '@App/default/MainPage/fast_filter_contest.html.twig'
                    with {
                        'knowledgeAreaContestData': knowledgeAreaContestData,
                        'knowledgeAreaItemContestData': knowledgeAreaItemContestData
                    }
                %}
            </div>
            <div id="rubrics-3" class="tab-pane">
                {% include '@App/default/MainPage/fast_filter_academic.html.twig'
                    with {
                        'knowledgeAreaAcademicData': knowledgeAreaAcademicData,
                        'knowledgeAreaItemAcademicData': knowledgeAreaItemAcademicData
                    }
                %}
            </div>
        </div>
    </div>
</section>
