{% extends 'AppBundle::base.html.twig' %}

{% block body_class %}main-page{% endblock %}

{% block header %}
    <section class="main-header">
        {% include 'AppBundle::header.html.twig' %}
        <div class="container">
            <h1 class="main-title">
                {{ 'main_text' | trans }}
            </h1>
            <p class="sub-title">
                <a href="{{ path('main.static.members') }}" target="_blank">{{ 'main_sub_title_link' | trans }}</a>
                {{ 'main_sub_title' | trans }}
            </p>
            <form class="main-search-form">
                <input id="search-keyword" class="default-input" type="search" placeholder="{{ 'static.main.header.search.keyword' | trans }}"/>
                <select id="search-select" class="default-input">
                    <option value="1" selected="true">{{ 'middle-menu.header.search.programs' | trans }}</option>
                    <option value="2">{{ 'funding_opportunities' | trans }}</option>
                    <option value="3">{{ 'middle-menu.header.search.mobility' | trans }}</option>
                </select>
                <button id="main-search-button" class="pink-button default-button">
                    <i class="fa fa-search" aria-hidden="true"></i> {{ "search" | trans }}
                </button>
            </form>
        </div>
    </section>
    <a href="{{ 'banner_link' | trans }}" target="_blank" class="banner">
    </a>
{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>

        {# Links to parts of the site with prepared filters #}
        {% include '@App/default/MainPage/fast_filters.html.twig' %}

        {# Slider Carousel with university information #}
        {% include '@App/default/MainPage/slider.html.twig' with {'universities': universities} %}

        {# Google maps with markers #}
        <section class="map">
            <div id="map" class="main-map">
            </div>
        </section>

        {# News section #}
        {{ render(controller('AppBundle:Default:newsAndEvents',{'section': 'all'})) }}

    </main>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {# JavaScript code for configuration of Google Map, markers and slider Carousel #}
    {% include '@App/default/MainPage/map_configs.html.twig' %}

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAINb-ghFo26IUO6Besp3cZ_B1faBbnUKo&callback=initMap"
            async defer></script>
    <script>
        $('#main-search-button').click(function (e) {
            var $searchSelect = $('#search-select');
            var $searchKeyword = $('#search-keyword');

            var searchType = $searchSelect.val();
            var searchWord = $searchKeyword.val();

            searchType = parseInt(searchType);
            if(searchType) {
                var location = "";
                switch(searchType) {
                    case 1:
                        location = "{{ path('main.program.list',{"name":"__name__"}) }}";
                        break;
                    case 2:
                        location = "{{ path('main.contest.list',{"title":"__name__"}) }}";
                        break;
                    case 3:
                        location = "{{ path('main.academic_mobility.list',{"title":"__name__"}) }}";
                        break;
                    default:
                        return false
                }
                location = location.replace('__name__', searchWord);
                window.location.href = location;
            }


            return false;
        })
    </script>

{% endblock %}
