<section class="news">
    <div class="container">
        <ul class="nav nav-tabs main-nav news-nav">
            <li class="active">
                <a href="#" data-toggle="tab" data-target="#news-tab">
                    Новости
                </a>
            </li>
            <li>
                <a href="#" data-toggle="tab" data-target="#events-tab">
                    Мероприятия
                </a>
            </li>
        </ul>
        <div class="clearfix tab-content">
            <div id="news-tab" class="tab-pane active">
                <ul class="news-tags">
                    <li class="active">
                        <a href="#">
                            #новости_университетов
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            #новости_ассоциации
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            #вузы_в_СМИ
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ВШЭ
                            </p>
                            <p class="news-title">
                                Воспитание чувств: как компьютер учится видеть и думать лучше человека
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ИТМО
                            </p>
                            <p class="news-title">
                                Заблудиться в двух фотонах: как будут работать квантовые компьютеры и при чем
                                тут «запутанность»
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ТюмГУ
                            </p>
                            <p class="news-title">
                                Спортивные объекты Сочи станут инкубатором высоких технологий
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ВШЭ
                            </p>
                            <p class="news-title">
                                Воспитание чувств: как компьютер учится видеть и думать лучше человека
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="events-tab" class="tab-pane">
                <ul class="news-tags">
                    <li class="active">
                        <a href="#">
                            #новости_университетов
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            #новости_ассоциации
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            #вузы_в_СМИ
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ВШЭ
                            </p>
                            <p class="news-title">
                                Воспитание чувств: как компьютер учится видеть и думать лучше человека
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ИТМО
                            </p>
                            <p class="news-title">
                                Заблудиться в двух фотонах: как будут работать квантовые компьютеры и при чем
                                тут «запутанность»
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ТюмГУ
                            </p>
                            <p class="news-title">
                                Воспитание чувств: как компьютер учится видеть и думать лучше человека
                            </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href=# class="news-item">
                            <img src="{{ asset('bundles/app/css/img/news-1.jpg') }}" alt="">
                            <p class="news-label">
                                ВШЭ
                            </p>
                            <p class="news-title">
                                Воспитание чувств: как компьютер учится видеть и думать лучше человека
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
