<section>
    <div id="main-carousel" class="main-carousel carousel-fade carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

            {% for university in universities %}
                <li data-target="#main-carousel" {{ loop.index == 9 ? 'class="active"' }}
                    data-slide-to="{{ loop.index0 }}">{{ university.translate().getShortName() }}</li>
            {% endfor %}

        </ol>
        <div class="carousel-inner">

            {% for university in universities %}
                <div class="item {{ loop.index == 9 ? 'active' }}">
                    <img src="{{ asset('bundles/app/css/img/university/slide/' ~ university.sliderData.slide) }}" alt="">
                    <div class="slider-info">
                        <div class="container">
                            <a href="{{ path('home.university.index', {'id': university.id}) }}" class="slide-title">
                                <span>{{ university.translate().getName() }}</span>
                            </a>

                            {% if university.sliderData %}
                                {% include '@App/default/MainPage/university_slider_data.html.twig' with {'university': university}  %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <a class="carousel-control" href="#main-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control carousel-control-next" href="#main-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
