<div class="slide-descriptions clearfix">
    <div class="row">
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.educationPrograms }}
            </p>
            <p class="slide-text">
                {{ 'slider_programs' | trans }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.students }}
            </p>
            <p class="slide-text">
                {{ 'slider_students' | trans }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.staff }}
            </p>
            <p class="slide-text">
                {{ 'slider_staff' | trans }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.eduProgramsForeign }}
            </p>
            <p class="slide-text">
                {{ 'slider_foreign_programs' | trans }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.foreignStudents }}
            </p>
            <p class="slide-text">
                {{ 'slider_foreign_students' | trans }}
            </p>
        </div>
        <div class="col-md-4">
            <p class="slide-numbers">
                {{ university.sliderData.internationalLaboratories }}
            </p>
            <p class="slide-text">
                {{ 'slider_laboratories' | trans }}
            </p>
        </div>
    </div>
</div>
