<div class="media program">
    <h3 class="media-heading">
        <a href="{{ redirectLink(mobility) }}" target="_blank">{{ mobility.translate().title }}</a>
    </h3>
    <ol class="breadcrumb">
        {% if mobility.city %}
            <li>
                <a href="{{ path('main.academic_mobility.list',
                {
                    'city[city]': [mobility.city.id]
                }
                    )}}">{{ mobility.city.translate().name }}
                </a>
            </li>
        {% endif %}
        {% if mobility.university %}
            <li>
                <a href="{{ path('main.academic_mobility.list',
                    { 'university' : [mobility.university.id] }
                )}}">{{ mobility.university.translate().shortName }}</a>
            </li>
        {% endif %}
        {% if mobility.mobilityType %}
            <li>
                <a href="{{ path('main.academic_mobility.list',
                {
                    'mobilityType': mobility.mobilityType.id
                }
                )}}">{{ mobility.mobilityType|trans([], 'dictionary') }}
                </a>
            </li>
        {% endif %}
    </ol>
    <div class="media-left">
        <a href="{{ path('home.university.index', {'id': mobility.university.id }) }}">{{ uni_logo(mobility.university) }}</a>
    </div>
    <div class="media-body program-info-container">
        <div class="program-info">
            <div class="clearfix">
                <div class="program-info-left-column col-md-3">
                    <p class="default-label">{{ ('Knowledge area item'|trans([], 'dictionary')) }}</p>
                    {% set areas = [] %}
                    {% for area in mobility.knowledgeAreaItems %}
                        {% set areas = areas|merge([area|trans([], 'dictionary')]) %}
                    {% endfor %}
                    {% if mobility.knowledgeAreaItems | length > 6 %}
                        <p>
                          {{ areas[0:6]|join(', ') }},
                        </p>
                        <a href="#" class="collapse-button blue-link">Показать все <span>&#8595;</span></a>
                        <p class="collapse-text">{{ areas[6:]|join(', ') }}</p>
                    {% else %}
                        <p>
                            {{ areas|join(', ') }}
                        </p>
                    {% endif %}
                </div>
                <div class="program-info-left-column col-md-3">
                    <p class="default-label">{{ ('Language'|trans([], 'dictionary')) }}</p>
                    <p>
                        {% set languages = [] %}
                        {% for language in mobility.languages %}
                            {% set languages = languages|merge([language|trans([], 'dictionary')]) %}
                        {% endfor %}
                        {{ languages|join(', ') }}
                    </p>
                    <br/>
                    {% if  mobility.audiences | length < 7 %}
                    <p class="default-label">{{ ('Audiences'|trans([], 'dictionary')) }}</p>
                    <p>
                        {% set audiences = [] %}
                        {% for audience in mobility.audiences %}
                            {% set audiences  = audiences|merge([audience|trans([], 'dictionary')]) %}
                        {% endfor %}
                        {{ audiences|join(', ') }}
                    </p>
                    {% endif %}
                </div>
                <div class="program-info-left-column col-md-3">
                    {% if (date()|date('Y-m-d') > mobility.dateEnd|date('Y-m-d')) %}
                    <div class="expired">
                        {% if mobility.dateBegin and mobility.dateEnd %}
                            <p class="default-label">{{ ('Dates'|trans([], 'dictionary')) }}</p>
                            <p>{{ mobility.dateBegin | date('d.m.Y') }} - {{ mobility.dateEnd | date('d.m.Y') }}</p>
                        {% elseif mobility.dateBegin  and mobility.dateEnd == null %}
                            <p class="default-label">{{ 'date.from' | trans }}</p>
                            <p>{{ mobility.dateBegin|date('d.m.Y') }}</p>
                        {% elseif mobility.dateBegin == null and mobility.dateEnd %}
                            <p class="default-label">{{ 'date.up_to' | trans }}</p>
                            <p>{{ mobility.dateEnd | date('d.m.Y') }}</p>
                        {% endif %}
                        <span class="expired-label">{{ 'expired_dates' | trans }}</span>
                    </div>
                    {% else %}
                        {% if mobility.dateBegin and mobility.dateEnd %}
                            <p class="default-label">{{ ('Dates'|trans([], 'dictionary')) }}</p>
                            <p>{{ mobility.dateBegin | date('d.m.Y') }} - {{ mobility.dateEnd | date('d.m.Y') }}</p>
                        {% elseif mobility.dateBegin  and mobility.dateEnd == null %}
                            <p class="default-label">{{ 'date.from' | trans }}</p>
                            <p>{{ mobility.dateBegin|date('d.m.Y') }}</p>
                        {% elseif mobility.dateBegin == null and mobility.dateEnd %}
                            <p class="default-label">{{ 'date.up_to' | trans }}</p>
                            <p>{{ mobility.dateEnd | date('d.m.Y') }}</p>
                        {% endif %}
                    {% endif %}
                    <br/>
                    {% if mobility.duration %}
                        <p class="default-label">{{ ('Duration'|trans([], 'dictionary')) }}</p>
                        <p>
                            {{ mobility.duration }} {{ mobility.durationType|trans() }}
                        </p>
                    {% endif %}
                </div>
                <div class="program-info-left-column col-md-3">
                    {% if mobility.dateReceptionEnd %}
                        {% if (date()|date('Y-m-d') > mobility.dateReceptionEnd|date('Y-m-d')) %}
                            <div class="expired">
                                <p class="default-label">{{ ('Date reception end'|trans([], 'dictionary')) }}</p>
                                <p>
                                    {{ mobility.dateReceptionEnd|date('d.m.Y') }}
                                </p>
                            </div>
                            <span class="expired-label">{{ 'expired_reception' | trans }}</span>
                        {%  else %}
                            <p class="default-label">{{ ('Date reception end'|trans([], 'dictionary')) }}</p>
                            <p>
                                {{ mobility.dateReceptionEnd|date('d.m.Y') }}
                            </p>
                        {% endif %}
                    {%  endif %}
                </div>
            </div>
        </div>
    </div>
</div>
