{% extends '@App/default/base_feed_with_filter.html.twig' %}

{% block title %}{{ 'seo.title.mobilities_page'|trans }}{% endblock %}
{% block descrition %}{{ 'seo.description.mobilities_page'|trans }}{% endblock %}

{% set h1_title = 'profile_menu.academic_mobility.title'| trans %}
{% set totalItemCount = mobilities.getTotalItemCount %}
{% set page_class = 'programms-page' %}
{% set body_class = 'programms academic-mobilities tinted' %}

{% block filters %}
    {% include '@App/default/AcademicMobility/academic_mobility_filter.html.twig' %}
{% endblock %}

{% block feed %}
    {% for mobility in mobilities %}
        {% include '@App/default/AcademicMobility/academic_mobility_card.html.twig' with {mobility: mobility} %}
    {% endfor %}
{% endblock %}

{% block paginator %}
    {{ knp_pagination_render(mobilities) }}
{% endblock %}
