{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <div class="clearfix">
                        <h2 class="default-sub-title">
                            {{ 'profile_main.stats.title'|trans() }}
                        </h2>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.stats.title'|trans() }}</li>
                    </ol>
                    <section class="profile-inner stats-data">
                        <div class="stats-graphics-wrapper">
                            <div>
                                <div class="statistic-button">
                                    <a href="#day" data-type="day" class="btn blue-button default-button chart-control">
                                        {{ "statistic.page.button.day"|trans }}
                                    </a>
                                    <a href="#week" data-type="week"
                                       class="btn blue-button default-button chart-control">
                                        {{ "statistic.page.button.week"|trans }}
                                    </a>
                                    <a href="#month" data-type="month"
                                       class="btn blue-button default-button chart-control">
                                        {{ "statistic.page.button.month"|trans }}
                                    </a>
                                    <a href="#quarter" data-type="quarter"
                                       class="btn blue-button default-button chart-control">
                                        {{ "statistic.page.button.quarter"|trans }}
                                    </a>
                                    <a href="#year" data-type="year"
                                       class="btn blue-button default-button chart-control">
                                        {{ "statistic.page.button.year"|trans }}
                                    </a>
                                </div>
                            </div>
                            <canvas id="statistic-chart" width="980" height="455"></canvas>
                        </div>
                        <table class="table-stats">
                            <tr>
                                <th><p class="default-label">{{ "statistic.page.section"|trans }}</p></th>
                                <th><p class="default-label">{{ "statistic.page.external"|trans }}</p></th>
                                <th><p class="default-label">{{ "statistic.page.views"|trans }}</p></th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-all"></span>
                                    <strong>{{ "statistic.page.all"|trans }}</strong>
                                </td>
                                <td class="all-external statistic-table-data">
                                    -
                                </td>
                                <td class="all-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-news"></span>
                                    {{ 'middle-menu.news' | trans }}
                                </td>
                                <td class="news-external statistic-table-data">
                                    -
                                </td>
                                <td class="news-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-mobilities"></span>
                                    {{ 'middle-menu.mobility' | trans }}
                                </td>
                                <td class="academicMobility-external statistic-table-data">
                                    -
                                </td>
                                <td class="academicMobility-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-contests"></span>
                                    {{ 'middle-menu.contests'|trans }}
                                </td>
                                <td class="contest-external statistic-table-data">
                                    -
                                </td>
                                <td class="contest-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-programs"></span>
                                    {{ 'middle-menu.programs' | trans }}
                                </td>
                                <td class="program-external statistic-table-data">
                                    -
                                </td>
                                <td class="program-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-practices"></span>
                                    {{ 'middle-menu.practices' | trans }}
                                </td>
                                <td class="bestPractice-external statistic-table-data">
                                    -
                                </td>
                                <td class="bestPractice-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="stats-color stats-color-university"></span>
                                    {{ 'profile_main.page.university.title' | trans }}
                                </td>
                                <td class="university-external statistic-table-data">
                                    -
                                </td>
                                <td class="university-internal statistic-table-data">
                                    -
                                </td>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            AGU.StatsticManager.init("{{ path('profile.stats.get') }}");
        });
    </script>
{% endblock javascripts %}

