{% extends '@App/Profile/index.html.twig' %}


{% block body %}
    Stats
    {% for item in items %}
        <li>{{ item }}</li>
    {% endfor %}
    <a href="{{ path('profile.news.create', {'_locale': locale}) }}">{{'create_new'|trans }}</a>
{% endblock %}