<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1365">

    <title>{% block title %}{{ 'seo.title.main_page'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ 'seo.description.main_page'|trans }}{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{{ 'seo.title.main_page'|trans }}{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ absolute_url(asset('/bundles/app/css/img/og/og_' ~ app.request.locale ~ '.png'))}}"/>
    <meta property="og:url" content="{{ app_url ~ '/' ~ app.request.locale ~ '/' }}"/>

    {% block stylesheets %}
        {% block analytic_google_head  %}
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-WKB9Q6T');
            var locale = '{{ app.request.locale }}';
            </script>
        {% endblock analytic_google_head %}
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,600&subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic" rel="stylesheet">
        <link href="{{ asset('styles.css', 'js_and_css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
</head>
<body class="{% block body_class %}{{ body_class|default('') }}{% endblock %}">
{% block analytic_google_body  %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKB9Q6T"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{% endblock analytic_google_body  %}
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block logoutModal %}
    {% include 'AppBundle::logout-modal.html.twig' %}
{% endblock %}
{% block subscribeModal %}
    {% include 'AppBundle::subscribe-modal.html.twig' %}
{%  endblock %}
{% block modals %}{%  endblock %}
{% block javascripts %}
    <script src="{{ asset('/app-front.js', 'js_and_css') }}"></script>
    <script type="text/javascript">
        AguAPI.addUrl('entrance_tests', '{{ path('entrance_tests') }}');
        AguAPI.addUrl('knowledge_area_items', '{{ path('knowledge_area_items') }}');
        AguAPI.addUrl('university_partners', '{{ path('university_partners') }}');
        AguAPI.addUrl('university_branches', '{{ path('university_branches') }}');
        AguAPI.addUrl('university_branch_cities', '{{ path('university_branch_cities') }}');
    </script>
{% endblock %}
</body>
</html>
