<div id="confirm-modal" class="default-modal modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="modal-heading">
                {{ 'save-confirmation' | trans  }}
            </p>
            <a href="#" class="cancel-button blue-button default-button">
                {{ 'not-save' | trans  }}
            </a>
            <a href="#" id="save-submit" class="save-submit pink-button default-button"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                {{ 'Submit' | trans  }}</a>
            <a href="#" class="close-button"></a>
        </div>
    </div>
</div>
