<div id="delete-modal" class="default-modal modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="modal-heading">
                {{ 'remove-confirm' | trans  }}
            </p>
            <a href="#" data-dismiss="modal" class="cancel-button blue-button default-button">
                {{ 'cancel' | trans  }}
            </a>
            <a href="#" class="delete-submit pink-button default-button"><i class="fa fa-trash-o" aria-hidden="true"></i>
                {{ 'delete' | trans  }}</a>
            <a href="#" data-dismiss="modal" class="close-button"></a>
        </div>
    </div>
</div>
