<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="footer-title">
                    {{ 'footer_contacts'|trans }}
                </p>
                <p>
                    {{ 'footer_address'|trans }}
                </p>
                <p>
                    +7 (495) 623-37-83
                </p>
                <p>
                    <a class="highlighted" href="mailto:globaluni@hse.ru">
                        globaluni@hse.ru
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <p class="footer-title">
                    {{ 'footer_useful-links'|trans }}
                </p>
                <p>
                    <a href="http://xn--80abucjiibhv9a.xn--p1ai/" target="_blank">
                        {{ 'useful-links.ministry'|trans }}
                    </a>
                </p>
                <p>
                    <a href="http://www.edu.ru/" target="_blank">
                        {{ 'useful-links.education'|trans }}
                    </a>
                </p>
                <p>
                    <a href="https://5top100.ru/council/" target="_blank">
                        {{ 'useful-links.council'|trans }}
                    </a>
                </p>
            </div>
            <div class="col-md-3">
                {{ render(controller('AppBundle:Subscription:renderForm')) }}
                <p class="footer-copyright">
                    {{ 'footer_copyright'|trans }}<br>
                </p>
            </div>
        </div>
    </div>
</footer>
