<header class="header">
    <div class="container">
        <div class="header-logo">
            <a href="{{ path('homepage') }}">
                {% include 'AppBundle::logo-'~app.request.locale~'.html.twig' %}
            </a>
        </div>
        <nav class="top-menu">
            {% set currentRoute = app.request.attributes.get('_route') %}
            <ul>
                <li class="{% if currentRoute == 'main.static.scholar' %}active{% endif %}">
                    <a href="{{ path('main.static.scholar') }}">{{ 'top-menu.schoolars'|trans }}</a>
                </li>
                <li class="{% if currentRoute == 'main.static.students' %}active{% endif %}">
                    <a href="{{ path('main.static.students') }}">{{ 'top-menu.students'|trans }}</a>
                </li>
                <li class="{% if currentRoute == 'main.static.phd' %}active{% endif %}">
                    <a href="{{ path('main.static.phd') }}">{{ 'top-menu.phd'|trans }}</a>
                </li>
                <li class="{% if currentRoute == 'main.static.scientist' %}active{% endif %}">
                    <a href="{{ path('main.static.scientist') }}">{{ 'top-menu.employees'|trans }}</a>
                </li>
                <li class="language-link">
                    {% include "AppBundle::locales.html.twig" %}
                </li>
                <li class="yellow-item {{ not app.user ? 'active' : 'login-menu' }}">
                    {% if  app.user %}
                        <a href="{{ path('profile.index') }}">
                            {{ 'top-menu.account'|trans }}
                        </a>
                        <button class="login-toggle" id="login-toggle"></button>
                        <ul class="login-sub-menu">
                            <li class="settings">
                                <a href="{{ path('profile.settings.index') }}">{{ 'profile_main.settings.title' | trans }}</a>
                            </li>
                            <li class="exit">
                                <a id="logout-link" href="#logout-modal" class="logout-link" data-action="{{ path('fos_user_security_logout') }}" data-toggle="modal">
                                   {{ 'profile_main.logout' | trans }}
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">
                            {{ 'top-menu.enter'|trans }}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% set assocLinks = ['main.static.about', 'main.static.council', 'main.static.commettee', 'main.static.members', 'main.practice.list', 'main.project.list'] %}
        <nav class="middle-menu">
            <ul>
                <li class="{% if currentRoute in assocLinks %}active{% endif %}"><a href="#">{{ 'middle-menu.association'|trans }}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="middle-menu-inner">
                        <li>
                            <p class="default-label">{{ 'middle-menu.association'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.static.about' %}active{% endif %}"><a href="{{ path('main.static.about') }}">{{ 'middle-menu.association-about'|trans }}</a></li>
                                <li class="{% if currentRoute == 'main.static.council' %}active{% endif %}"><a href="{{ path('main.static.council') }}">{{ 'middle-menu.association-council'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.static.commettee' %}active{% endif %}"><a href="{{ path('main.static.commettee') }}">{{ 'middle-menu.audit-cometee'|trans }}</a></li>
                                <li class="{% if currentRoute == 'main.project.list' %}active{% endif %}"><a href="{{ path('main.project.list') }}">{{ 'middle-menu.projects'|trans }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <p class="default-label">{{ 'middle-menu.universities'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.static.members' %}active{% endif %}"><a href="{{ path('main.static.members') }}">{{ 'middle-menu.association-members'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.practice.list' %}active{% endif %}"><a href="{{ path('main.practice.list') }}">{{ 'middle-menu.practices'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% set educationLinks = ['main.program.list', 'main.academic_mobility.list'] %}
                {% set educationAcademicTypes = [7, 1, 4, 8] %}
                {% set mobilityType = app.request.query.get('mobilityType') %}
                {% set educationLevel = app.request.query.get('educationLevel') %}
                <li class="{% if currentRoute in educationLinks and (currentRoute!='main.academic_mobility.list' or mobilityType in educationAcademicTypes) %}active{% endif %}">
                    <a href="#">{{ 'middle-menu.education'|trans }}<i class="fa fa-angle-down"
                                                                      aria-hidden="true"></i></a>
                    <ul class="middle-menu-inner">
                        <li>
                            <p class="default-label">{{ 'middle-menu.programs'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.program.list' and educationLevel == 1 %}active{% endif %}">
                                    <a href="{{ path('main.program.list', {'educationLevel': 1}) }}">{{ 'bachelor'|trans([], 'dictionary') }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.program.list' and educationLevel == 2 %}active{% endif %}">
                                    <a href="{{ path('main.program.list', {'educationLevel': 2}) }}">{{ 'n_specialty'|trans([], 'dictionary') }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.program.list' and educationLevel == 3 %}active{% endif %}">
                                    <a href="{{ path('main.program.list', {'educationLevel': 3}) }}">{{ 'master'|trans([], 'dictionary') }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.program.list' and educationLevel == 4 %}active{% endif %}">
                                    <a href="{{ path('main.program.list', {'educationLevel': 4}) }}">{{ 'postgraduate'|trans([], 'dictionary') }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="default-label">{{ 'middle-menu.events'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 7 %}active{% endif %}">
                                    <a href="{{ path('main.academic_mobility.list', {'mobilityType': 7}) }}">
                                        {{ 'middle-menu.lectures_class'|trans }}
                                    </a>
                                </li>
                                   <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 1 %}active{% endif %}">
                                        <a href="{{ path('main.academic_mobility.list', {'mobilityType': 1}) }}">
                                            {{ 'middle-menu.internships'|trans }}
                                        </a>
                                    </li>
                                    <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 4 %}active{% endif %}">
                                        <a href="{{ path('main.academic_mobility.list', {'mobilityType': 4}) }}">
                                            {{ 'middle-menu.summerschools'|trans }}
                                        </a>
                                    </li>
                                    <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 8 %}active{% endif %}">
                                        <a href="{{ path('main.academic_mobility.list', {'mobilityType': 8}) }}">
                                            {{ 'middle-menu.masterclasses'|trans }}
                                        </a>
                                    </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% set scienceLinks = ['main.contest.list', 'main.academic_mobility.list'] %}
                {% set contestType = app.request.query.get('contestType') %}
                {% set mobilityType = app.request.query.get('mobilityType') %}
                <li class="{% if currentRoute in scienceLinks and (not mobilityType or mobilityType not in educationAcademicTypes) %}active {{ app.request.query.get('mobilityType') }}{% endif %}">
                    <a href="#">{{ 'middle-menu.science'|trans }}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <ul class="middle-menu-inner">
                        <li>
                            <p class="default-label">{{ 'middle-menu.contests'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.contest.list' and contestType == 1 %}active{% endif %}">
                                    <a href="{{ path('main.contest.list', {'contestType': 1}) }}">{{ 'middle-menu.grants'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.contest.list' and contestType == 2 %}active{% endif %}">
                                    <a href="{{ path('main.contest.list', {'contestType': 2}) }}">{{ 'middle-menu.international_contests'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.contest.list' and contestType == 3 %}active{% endif %}">
                                    <a href="{{ path('main.contest.list', {'contestType': 3}) }}">{{ 'middle-menu.rd'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="default-label">{{ 'middle-menu.events'|trans }}</p>
                            <ul>
                                <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 5 %}active{% endif %}">
                                    <a href="{{ path('main.academic_mobility.list', {'mobilityType': 5}) }}">{{ 'middle-menu.conferences'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 2 %}active{% endif %}">
                                    <a href="{{ path('main.academic_mobility.list', {'mobilityType': 2}) }}">{{ 'middle-menu.postdock'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == 6 %}active{% endif %}">
                                    <a href="{{ path('main.academic_mobility.list', {'mobilityType': 6}) }}">{{ 'middle-menu.seminars'|trans }}</a>
                                </li>
                                <li class="{% if currentRoute == 'main.academic_mobility.list' and mobilityType == '' %}active{% endif %}">
                                    <a href="{{ path('main.academic_mobility.list') }}">{{ 'middle-menu.other'|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="{% if currentRoute == 'main.news.index' %}active{% endif %}"><a href="{{ path('main.news.index') }}">{{ 'middle-menu.news'|trans }}</a></li>
            </ul>
        </nav>
    </div>
</header>
