{% set route = app.request.get('_route') %}
{% set routeParams = app.request.get('_route_params') %}

{% set siteLocale = app.request.locale %}

{% if available_locales | length == 2 %}
    {% if siteLocale == available_locales[1] %}
        {% set newLocale = available_locales[0] %}
    {% else %}
        {% set newLocale = available_locales[1] %}
    {% endif %}
    <a href="{{ path(route, routeParams | merge(app.request.query.all) | merge({'_locale':newLocale})) }}">
        {{ newLocale | trans([], 'dictionary') }}
    </a>
{% else %}
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown">{{ siteLocale | trans([], 'dictionary') }}</button>
        <ul class="dropdown-menu">
           {% for locale in available_locales if locale != siteLocale %}
               <li>
                   <a href="{{ path(route, routeParams | merge(app.request.query.all) | merge({'_locale':locale})) }}">
                   {{ locale | trans([], 'dictionary') }}
               </a>
               </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
