<div id="logout-modal" class="default-modal modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="modal-heading">
                {{ 'logout' | trans }}
            </p>
            <a href="#" data-dismiss="modal" class="cancel-button blue-button default-button">
                {{ 'cancel' | trans }}</a>
            <a href="#" class="logout-submit pink-button default-button">{{ 'logout-link' | trans }}</a>
            <a href="#" data-dismiss="modal" class="close-button"></a>
        </div>
    </div>
</div>
