<!--<?xml version="1.0" encoding="UTF-8"?>-->
<svg width="353px" height="95px" viewBox="0 0 353 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
    <title>Logo-new англ</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="UI-KIT-Elements" transform="translate(-1028.000000, -232.000000)" fill="#FFFFFF">
            <g id="Logo" transform="translate(950.000000, 0.000000)">
                <g id="Logo-new-англ" transform="translate(77.000000, 227.304348)">
                    <g id="Logo-text" transform="translate(121.173913, 0.000000)">
                        <text id="Association" font-family="Roboto" font-size="18" font-weight="300">
                            <tspan x="3" y="19">Association of</tspan>
                        </text>
                        <text id="Of-global-Universiti" font-family="Roboto" font-size="36" font-weight="400" letter-spacing="-1.20000005" textLength="350">
                            <tspan x="0" y="56">Global </tspan>
                            <tspan x="0" y="88">Universities</tspan>
                        </text>
                    </g>
                    <g id="Shape" transform="translate(0.181520, 32.000000)">
                        <path d="M69.870449,5.52441004 C66.7391742,6.43363418 63.1391946,8.32866972 60.918009,9.98296307 C56.0828191,13.584113 53.4281968,22.4659833 50.9315928,29.9557955 C50.6593257,30.7725969 50.3949482,31.1440449 50.1464301,31.1987462 C47.3767941,41.9694845 37.600652,49.9286279 25.9655523,49.9286279 C25.8872628,49.9286279 25.8090575,49.9282675 25.7309379,49.9275484 C27.0704655,48.3573165 28.1403373,46.55006 28.8688881,44.5774443 C33.4368457,43.79842 38.0149299,41.5701746 40.9451766,37.4456076 C42.0251685,35.9254288 43.0559466,34.0110712 43.9118783,31.954561 C44.5069803,30.5247352 47.1365204,24.1622658 49.0020805,19.646949 C51.4097469,8.54383595 61.2037191,0.194033286 72.9815379,9.01965135e-14 C71.6348212,1.62254413 70.5723354,3.48947035 69.870449,5.52441004 Z M91.8780404,28.2056137 C91.7298593,29.7299778 91.3887431,31.1626907 90.8772576,32.4523995 C87.7333356,40.3797879 73.1813219,44.4960038 73.1813219,44.4960038 L73.4010293,49.9286279 C73.4010293,49.9286279 74.1109044,49.9211848 74.4630871,49.9064458 C87.7588264,49.3500127 98.3670698,38.395144 98.3670698,24.9625874 C98.3670698,24.820909 98.3658896,24.6795062 98.3635386,24.5383884 C96.5088209,26.1861493 94.305467,27.4500789 91.8780404,28.2056137 Z M1,24.7803483 C1.05241885,15.0005544 5.32409019,6.07317553 12.9894191,2.53146344 C18.4757401,-0.00345313304 20.9723442,-0.00345313304 31.8974504,0.705519842 C32.273538,0.729925636 30.9587604,4.98975497 30.9587604,4.98975497 C30.9587604,4.98975497 20.9723442,4.98975497 15.9791361,7.48635902 C11.9811641,9.485345 10.4607253,11.5901368 8.48932392,14.9761712 C7.41978455,16.8131877 6.80627059,19.1713544 6.61369313,21.6595174 C4.54534754,22.3546428 2.64766772,23.4213686 1,24.7803483 Z" id="Combined-Shape"></path>
                        <ellipse id="Oval-4-Copy" cx="87.0566003" cy="12.289408" rx="11.8021282" ry="11.8021282"></ellipse>
                        <ellipse id="Oval-5-Copy" cx="12.7031924" cy="39.4343029" rx="11.8021282" ry="11.8021282"></ellipse>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
