<div id="subscribe-modal" class="default-modal modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="modal-heading">
                {{ 'subscribe'|trans }}
            </p>
            <a href="#" data-dismiss="modal" class="pink-button default-button">{{ 'close' | trans }}</a>
        </div>
    </div>
</div>
