{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    <div class="not-found-page">
                        <h1>{{ 'under_constraction'|trans }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
