{% verbatim %}
    <script type="text/x-template" id="template-dependencyFieldCheckboxItems">
        <div class="form-group">
            <div class="checkbox col-md-4 checkbox-items" v-for="item in items">
            <label v-bind:for="nameGenerator(item.id)" v-bind:class="{'checked-box': isChosen(item.id)}">
                <input type="checkbox"
                       v-bind:id="nameGenerator(item.id)"
                       v-bind:name="nameGenerator()"
                       v-bind:value="item.id"
                       v-bind:checked="isChosen(item.id)"
                >{{ item.name }}</label>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="template-dependencyFieldSelectItems">
        <div class="form-group reload-field">
            <select v-bind:name="name" v-bind:required="requiredAttr ? requiredAttr : null" v-bind:multiple="multiple ? multiple : null" v-bind:class="{ 'form-control': true, 'select2-apply': multiple}">
                <option v-if="!multiple" value>{{ placeholder }}</option>
                <option
                        v-for="item in items"
                        v-bind:value="item.id"
                        v-bind:selected="isChosen(item.id)"
                >{{ item.name }}</option>
            </select>
        </div>
    </script>
{% endverbatim %}
