{{ 'subscription.email.confirmation.subject'|trans }}
<p>{{ 'subscription.email.confirmation.start_text'|trans }}</p>
<p>
    {{ 'subscription.email.confirmation.pre_link_text'|trans }}:
    <a href="{{ confirmationUrl }}">{{ 'subscription.email.confirmation.link'|trans }}</a>
</p>
<p>{{ 'subscription.email.confirmation.end_text'|trans }}</p>
