<section class="edit-form-wrapper">
    {{ form_start(form) }}

    {{ form_row(form.translations) }}
    <div class="clearfix row">
        <div class="col-sm-4 form-group">
            <label class="control-label required">
                {{ 'project.university' | trans([], 'dictionary') }}
            </label>
            {{ form_widget(form.university) }}
            {{ form_errors(form.university) }}
        </div>
        <div class="col-sm-4 form-group">
            <label class="control-label required">
                {{ 'date.from' | trans  }}
            </label>
            {{ form_widget(form.dateStart) }}
            {{ form_errors(form.dateStart) }}
        </div>
        <div class="col-sm-4 form-group">
            <label class="control-label required">
                {{ 'date.up_to' | trans  }}
                <span class="tooltip-button tooltip-toggle">?
                    <span class="tooltip">
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        {{ 'project.date_up_tooltip' | trans }}
                    </span>
                </span>
            </label>
            {{ form_widget(form.dateEnd) }}
            {{ form_errors(form.dateEnd) }}
        </div>
    </div>
    <div class="bordered">
        <h3 class="centered">
            {{ 'project.documents' | trans }}
        </h3>
        <div class="clearfix row">
            <div class="col-sm-6">
                <label class="control-label required">{{ 'project.passport' | trans([], 'dictionary') }}
                </label>
                {{ form_widget(form.passport.uploadedDocuments) }}

                {% set count = project.passport ? project.passport.uploadedDocuments | length : 0 %}
                {% set base_prefix = form.vars.name %}
                {% set prefix = base_prefix ~ '_' ~ form.passport.vars.name %}
                {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}
                {{ form_errors(form.passport) }}
            </div>
            <div class="col-sm-6">
                <label class="control-label required">{{ 'project.outlay' | trans([], 'dictionary') }}<i class="fa fa-lock" aria-hidden="true"></i></label>
                {{ form_widget(form.outlay.uploadedDocuments) }}

                {% set count = project.outlay ? project.outlay.uploadedDocuments | length : 0 %}
                {% set prefix = base_prefix ~ '_' ~ form.outlay.vars.name %}
                {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}
                {{ form_errors(form.outlay) }}
            </div>
        </div>
        <hr/>
        <div class="clearfix">
            <label class="control-label required">{{ 'project.public_docs' | trans([], 'dictionary') }}
                <span class="tooltip-button tooltip-toggle">?
                    <span class="tooltip">
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        {{ 'project.public_docs_tooltip' | trans }}
                    </span>
                </span>
            </label>

            {{ form_widget(form.uploadedDocuments) }}
            {% set count = project.uploadedDocuments|length %}
            {% set base_prefix = form.vars.name %}
            {% include '@App/form/uploaded_document_collection.html.twig' with {count: count, prefix: base_prefix} %}
            {{ form_errors(form.uploadedDocuments) }}
        </div>
    </div>
    <div id="search-open" class="search-open bordered-button bordered-button_blue">
        <div id="search-additional-form" class="search-additional-form">
            <div class="row">
                {% set archive = project.archive %}
                {% if archive|length > 0 %}
                    <div class="col-sm-12">
                        <div class="row">
                            {% include 'AppBundle:Profile/Archive:file_list.html.twig' with {docs: archive, can_delete: is_granted('CAN_EDIT_PROJECT', project)} %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <span data-opentext="{{ 'project.archive' | trans }}" data-closetext="{{ 'hide' | trans }}" class="search-close">
                            {{ 'project.archive' | trans }}
                        </span><i aria-hidden="true" class="fa fa-angle-down"></i>
    </div>
    <div class="bordered">
        {% if form.projectMembers is defined %}
            <h3 class="centered">
                {{ form.projectMembers.vars.label|trans([], form.projectMembers.vars.translation_domain) }}
            </h3>
        {% endif %}
        <div class="clearfix row">
            {% if form.head is defined %}
                <div class="col-sm-6 form-group">
                    <label class="control-label required">
                        {{ 'project.head' | trans([], 'dictionary') }}
                    </label>
                    {{ form_widget(form.head) }}
                    {{ form_errors(form.head) }}
                </div>
            {% endif %}
            {% if form.manager is defined %}
                <div class="col-sm-6 form-group">
                    <label class="control-label required">
                        {{ 'project.manager' | trans([], 'dictionary') }}
                    </label>
                    {{ form_widget(form.manager) }}
                    {{ form_errors(form.manager) }}
                </div>
            {% endif %}
        </div>
        {% if form.projectMembers is defined %}
            <div class="clearfix row project-members">
                {{ form_widget(form.projectMembers) }}
                <div class="col-sm-12">
                    <button class="add-member-button default-button blue-button"
                            data-target="{{ form.projectMembers.vars.id }}"
                            data-counter="{{ (form.projectMembers.vars.data|length) - 1 }}">

                        <span>+</span>{{ 'project.members.add' | trans([], 'dictionary') }}
                    </button>
                    {{ form_errors(form.projectMembers) }}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}{{ 'project.required' | trans }}
        </p>
        {% if form.submitAndPublish is defined %}
            {{ form_widget(form.submitAndPublish, {'attr': {'class': 'save-button submit-button side-button pink-button default-button'}}) }}
        {% endif %}
        {{ form_widget(form.submit, {'attr': {'class': 'save-button submit-button side-button blue-button default-button'}}) }}
    </div>

    {{ form_end(form) }}
</section>
