{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'middle-menu.association_projects'|trans() }}
                    </h2>
                    {% if (projects.getTotalItemCount > 0) %}
                        <span class="total-counter">{{ projects.getTotalItemCount }}</span>
                    {% endif %}
                    {% if is_granted('CAN_CREATE_PROJECT') %}
                        <a href="{{ url('profile.project.create') }}"
                           class="note-button pink-button side-button default-button">
                            {{ 'create_new'|trans }}
                        </a>
                    {% endif %}
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.assoc_projects.title'|trans() }}</li>
                    </ol>

                    {% include '@App/Profile/Project/list_filter.html.twig' with {form: filterForm} %}

                    <section class="feed programs-list profile-inner">
                        {% for project in projects %}
                            <div class="media project">
                                <h3 class="media-heading">
                                    <a href="{{ project.isPublished ? path('profile.communication.project.main', {id: project.id}) : 'javascript:void(0);' }}">
                                        {{ project.translate().name }}
                                    </a>
                                </h3>
                                <div class="media-body program-info-container">
                                    <div class="project-info">
                                        <div class="row clearfix">
                                            <div class="col-md-4">
                                                {% if project.translate().purpose %}
                                                    <p class="default-label">
                                                        {{ 'project.purpose'|trans([], 'dictionary') }}
                                                    </p>
                                                    <p>{{ project.translate().purpose }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                {% if project.university %}
                                                    <p class="default-label">
                                                        {{ 'project.university'|trans([], 'dictionary') }}
                                                    </p>
                                                    <p>{{ project.university }}</p>
                                                {% endif %}
                                                {% if project.head %}
                                                    <p class="default-label">{{ 'project.head'|trans([], 'dictionary') }}</p>
                                                    <p>{{ project.head.fullName }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                {% if project.dateStart and project.dateEnd %}
                                                    <p class="default-label">
                                                        {{ 'project.dates'|trans([], 'dictionary') }}
                                                    </p>
                                                    <p>{{ project.dateStart|date('d.m.Y') }} - {{ project.dateEnd|date('d.m.Y') }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="feed-control">
                                                {% if not project.isOpen %}
                                                    <p class="clearfix"><span class="feed-edit-tag expired-label">{{ 'project.closed'|trans([], 'dictionary') }}</span></p>
                                                {% endif %}
                                                {% if not project.isPublished %}
                                                    <p class="clearfix"><span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span></p>
                                                {% endif %}
                                                {% if is_granted('CAN_DELETE_PROJECT', project) %}
                                                    <a href="#delete-modal"
                                                       data-action="{{ path('profile.project.delete', {'id': project.id}) }}"
                                                       data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                        <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                            {{ 'delete' | trans }}
                                                        </span>
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('CAN_EDIT_PROJECT', project) %}
                                                    <a href="{{ url('profile.project.edit', {'id': project.id}) }}"
                                                       class="feed-edit tooltip-toggle" title="{{ 'edit'|trans([], 'dictionary') }}">
                                                        <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                            {{ 'edit' | trans([], 'dictionary') }}
                                                        </span>
                                                    </a>
                                                {% endif %}
                                                {% if is_granted('CAN_BROWSE_PROJECT', project) %}
                                                    <a href="{{ path('profile.communication.project.main', {id: project.id}) }}" title="{{ 'project.view_tooltip' | trans }}" class="feed-review tooltip-toggle">
                                                        <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                            {{ 'project.view_tooltip' | trans }}
                                                        </span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                    {% if  (projects.getTotalItemCount > 12) %}
                        <div>
                            {{ knp_pagination_render(projects) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
