{{ form_start(form) }}
<div class="search-top-form row">
    <div class="col-md-12">
        {{ form_label(form.name) }}
    </div>
    <div class="col-md-7">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="col-md-2 pull-left">
        <button class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
<div id="search-open" class="search-open bordered-button bordered-button_blue">
    <div id="search-additional-form" class="search-additional-form">
        <div class="row clearfix">
            <div class="col-md-6">
                {{ form_label(form.head) }}
                {{ form_widget(form.head) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.manager) }}
                {{ form_widget(form.manager) }}
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6">
                {{ form_label(form.members) }}
                {{ form_widget(form.members) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.university) }}
                {{ form_widget(form.university) }}
            </div>
        </div>
    </div>
    <span class="search-close" data-openText="{{ 'advanced_search'|trans() }}"
          data-closeText="{{ 'hide'|trans() }}">
        {{ 'advanced_search'|trans }}
    </span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>
{{ form_end(form) }}
