{% extends "@App/default/base_feed_with_filter.html.twig" %}

{% block title %}{{ 'seo.title.practices_page'|trans }}{% endblock %}
{% block description %}{{ 'seo.description.practices_page'|trans() }}{% endblock %}

{% set h1_title = 'profile_main.best_pract.title' | trans([], 'messages') %}
{% set totalItemCount = bestPractices.getTotalItemCount %}
{% set page_class = 'programms-page' %}
{% set body_class = 'practice-page tinted' %}

{% block filters_wrapper %}
    <div class="practice-search search-form">
        {% include '@App/default/Practice/practice_filter.html.twig' %}
    </div>
{% endblock %}

{% block feed_wrapper %}
    <div class="practice-feed">
        {% for bestPractice in bestPractices %}
            <div class="media program">
                <h2 class="media-heading">
                    <a href="{{ path('main.practice.show', { 'id' : bestPractice.id}) }}" target="_blank">
                        {{ bestPractice.translate().title }}
                    </a>
                </h2>
                <ol class="breadcrumb">
                    <li>{{ bestPractice.university.mainBranch.city }}</li>
                    <li>
                        <a href="{{ path('main.practice.list', { 'university[]' : bestPractice.university.id }) }}">
                        {{ bestPractice.university.translate().shortName }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('main.practice.list', { 'scope[]' : bestPractice.scope.id }) }}">
                            {{ bestPractice.scope | trans([], 'dictionary') }}
                        </a>
                    </li>
                </ol>
                <div class="media-left">
                    <a href="{{ path('home.university.index', { 'id' : bestPractice.university.id }) }}">
                        {{ uni_logo(bestPractice.university) }}
                    </a>
                </div>
                <div class="media-body practice-info">
                    {{ bestPractice.translate().leadText }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block paginator %}
    {{ knp_pagination_render(bestPractices) }}
{% endblock %}
