{% extends '@App/base.html.twig' %}

{% block title %}{{ bestPractice.translate().title }}{% endblock %}
{% block description %}{{ 'seo.description.practice_show'|trans({'%uni%': bestPractice.university.translate().shortName }) }}{% endblock %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% set body_class = 'practice-page tinted' %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'profile_main.best_pract.title' | trans }}
                </h1>
            </div>
        </section>
        <section class="content news-content">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-sm-2 news-show-info">
                        <a href="{{ path('home.university.index', {'id': bestPractice.university.id }) }}">
                            {{ uni_logo(bestPractice.university) }}
                        </a>
                    </div>
                    <div class="col-sm-7 news-text">
                        <h2>{{ bestPractice.translate().title }}</h2>
                        <div class="content-info">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('homepage') }}">{{ 'main'|trans }}</a></li>
                                <li><a href="{{ path('main.practice.list') }}">Каталог практик</a></li>
                            </ol>
                            <a href="{{ path('main.practice.list', {'scope': bestPractice.scope.id }) }}" class="default-label">
                                <span class="pink">{{ bestPractice.scope | trans([], 'dictionary') }}</span>
                            </a>
                        </div>
                        <div class="excerp">
                            {{ bestPractice.translate().leadText|nl2br }}
                        </div>
                        <div class="news-main-text">
                            {% if bestPractice.image %}
                                <img class="float-img" src="{{ bestPractice.imagePath }}" alt="{{ bestPractice.translate().title }}">
                            {% endif %}
                            {{ bestPractice.translate().text|raw }}
                        </div>
                        <p class="news-files">
                            {% for document in bestPractice.uploadedDocuments %}
                                <a href="{{ path('download.document', {id:document.id}) }}" class="download-link">{{ document.viewName }}<span>{{ document.getFormattedBytes() }}</span></a>
                            {% endfor %}
                        </p>
                        <div class="about-social-links">
                            <p>{{ 'social_share' | trans }}:

                            <a href="{{ build_url('http://vk.com/share.php', {
                                url: app.request.uri,
                                title: bestPractice.translate().title,
                                image: bestPractice.image ? bestPractice.imagePath | default('')
                            }) }}" class="social" target="_blank">
                                <i class="fa fa-vk" aria-hidden="true"></i></a>

                            <a href="{{ build_url('http://www.facebook.com/sharer.php', {
                                u: app.request.uri
                            }) }}" class="social" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i></a>

                            <a href="{{ build_url('http://twitter.com/share', {
                                url: app.request.uri,
                                text: bestPractice.translate().title
                            }) }}" class="social" target="_blank">
                                <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    {% if relatedBestPractices is defined and relatedBestPractices|length > 0 %}
                        <div class="col-sm-3">
                            <ul class="nav nav-tabs main-nav news-nav">
                                <li class="active">
                                    <a href="#">
                                        {{ 'related best practices' | trans([], 'dictionary') }}
                                    </a>
                                </li>
                            </ul>
                            <div class="border-wrapper clearfix">
                                {% for relatedBestPractice in relatedBestPractices %}
                                    <article class="news-preview">
                                        <p class="default-label">
                                            <a href="{{ path('main.practice.list', {'university[]': relatedBestPractice.university.id }) }}">
                                                <span class="pink">{{ relatedBestPractice.university.translate().shortName }}</span>
                                            </a>
                                            <a href="{{ path('main.practice.list', {'scope': relatedBestPractice.scope.id }) }}">
                                                {{ relatedBestPractice.scope | trans([], 'dictionary') }}
                                            </a>
                                        </p>
                                        <h1>
                                            <a href="{{ path('main.practice.show', {id: relatedBestPractice.id}) }}">{{ relatedBestPractice.translate().title }}</a>
                                        </h1>
                                    </article>
                                {% endfor %}
                                <a href="{{ path('main.practice.list', {scope: bestPractice.scope.id}) }}" class="bordered-button bordered-button_yellow no-border">
                                    <span>{{ 'show_all' | trans }}</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
