{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::confirm-modal.html.twig' %}
{% endblock %}

{% block body_class %}profile-page edit-page{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ static_page.translate().title }}
                    </h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('profile.index') }}">Главная</a></li>
                        <li><a href="{{ path('profile.static.index') }}">{{ 'middle-menu.static_pages'|trans() }}</a></li>
                        <li class="active">{{ 'create_new'|trans }}</li>
                    </ol>
                    {% include 'AppBundle:Profile/StaticPageData:form.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
