<section class="edit-form-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.translations) }}

    {% for translation in form.translations %}
        {% if translation.highlights is defined %}
            {% set locale = translation.vars.value.locale %}
            <button data-target="{{ translation.highlights.vars.id }}" data-locale="{{ locale }}"
                    class="add-button blue-button default-button btn ladda-button"
                    data-counter="{{ (translation.highlights|length)-1 }}">
                {{ 'static.highlights.add'|trans([], 'dictionary') }}
            </button>
        {% endif %}
    {% endfor %}

    {% if form.uploadedDocuments is defined %}
        {{ form_row(form.uploadedDocuments) }}
        {% set count = static_page.uploadedDocuments | length %}
        {% set prefix = form.vars.name %}
        {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}
    {% endif %}

    <hr/>
    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}
        </p>
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
</section>
