{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'middle-menu.static_pages'|trans() }}
                    </h2>
                    {% if (staticPages.getTotalItemCount > 0) %}
                        <span class="total-counter">{{ staticPages.getTotalItemCount }}</span>
                    {% endif %}
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.static_pages.title'|trans() }}</li>
                    </ol>

                    <section class="feed programs-list profile-inner">
                        {% for staticPage in staticPages %}
                            <div class="media program">
                                <h3 class="media-heading">{{ staticPage.translate().title }}</h3>
                                <div class="media-body program-info-container">
                                    <div class="program-info">
                                        <div class="row clearfix">
                                            <div class="feed-control">
                                                <a href="{{ url('profile.static.edit', {'id': staticPage.id}) }}"
                                                   class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                    {% if  (staticPages.getTotalItemCount > 12) %}
                        <div>
                            {{ knp_pagination_render(staticPages) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
