{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.project'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' with {menu: 'project'} %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ 'project.archive'|trans([], 'dictionary') }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% set archive = project.archive %}
                        {% if archive|length > 0 %}
                            <div class="col-md-12">
                                <h3>{{ 'archive.list'|trans([], 'dictionary') }}</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'AppBundle:Profile/Archive:file_list.html.twig' with {docs: archive, can_delete: is_granted('CAN_EDIT_PROJECT', project)} %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
