{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.project'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' with {menu: 'project'} %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ 'project.public_docs'|trans([], 'dictionary') }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for doc in project.uploadedDocuments %}
                                <a href="{{ path('download.document', {id: doc.id}) }}" class="download-link left-download-link">
                                    {{ doc.downloadName }}
                                    <span>{{ doc.formattedBytes }}</span>
                                    <span>{{ doc.contentStatusTransKey|trans([], 'dictionary') }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
