{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.project'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix project-page">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'middle-menu.association_projects'|trans() }}
                    </h2>
                    {% if is_granted('CAN_CREATE_PROJECT') %}
                        <a href="{{ url('profile.project.create') }}"
                           class="note-button pink-button side-button default-button">
                            {{ 'create_new'|trans }}
                        </a>
                    {% endif %}
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active"><a href="{{ path('profile.project.index') }}">{{ 'profile_main.assoc_projects.title'|trans() }}</a></li>
                        <li class="active">{{ project.translate().name }}</li>
                    </ol>
                    <div class="clearfix row">
                        <div class="col-sm-12">
                            <h3>{{ project.translate().name }}</h3>
                        </div>
                        <div class="col-sm-4">
                            <p class="default-label">{{ 'Dates'|trans([], 'dictionary') }}</p>
                            <p>{{ project.dateStart|date('d.m.Y') }} - {{ project.dateEnd|date('d.m.Y') }}
                                {% if project.university %}
                            <p class="default-label">{{ 'project.university'|trans([], 'dictionary') }}</p>
                            <p class="vertical-align">{{ project.university }}</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-8">
                            {% if project.translate().description %}
                                {{ project.translate().description|raw }}
                            {% endif %}
                            {% if project.translate().purpose %}
                                <p class="default-label">{{ 'project.purpose'|trans([], 'dictionary') }}</p>
                                <p>{{ project.translate().purpose }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="project-members">
                        <h3>
                            {{ 'project.members' | trans }}
                        </h3>
                        <div class="clearfix row">
                            {% if project.head %}
                                <div class="col-sm-6">
                                        {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.head, role: 'head'} %}
                                </div>
                            {% endif %}
                            {% if project.manager %}
                                <div class="col-sm-6">
                                    {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.manager, role: 'manager'} %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="clearfix row">
                            {% set i = 0 %}
                            {% for member in project.projectMembers %}
                                {% if loop.index > 2 and loop.index is not divisible by(2) %}
                                    </div>
                                    <div class="clearfix row">
                                {% endif %}
                                <div class="col-sm-6">
                                    {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: member, role: 'member'} %}
                                </div>
                                {% if loop.last and loop.index is not divisible by(2) %}
                                    <div class="col-sm-6 empty">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="project-docs">
                        <h3>
                            {{ 'project.documents' | trans }}
                        </h3>
                        <div class="clearfix row">
                             {% if project.passport %}
                                <div class="col-sm-6">
                                    <p class="default-label">{{ 'project.passport'|trans([], 'dictionary') }}</p>
                                    {% for doc in project.passport.uploadedDocuments %}
                                        <a href="{{ path('download.document', {id: doc.id}) }}" class="download-link left-download-link">
                                            {{ doc.downloadName }}
                                            <span>{{ doc.formattedBytes }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if project.outlay %}
                                <div class="col-sm-6">
                                    <p class="default-label">{{ 'project.outlay'|trans([], 'dictionary') }}</p>
                                    {% for doc in project.outlay.uploadedDocuments %}
                                        <a href="{{ path('download.document', {id: doc.id}) }}" class="download-link left-download-link">
                                            {{ doc.downloadName }}
                                            <span>{{ doc.formattedBytes }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="clearfix row">
                            {% for document in project.uploadedDocuments %}
                                <div class="col-sm-6">
                                    <a href="{{ path('download.document', {id:document.id}) }}" class="download-link left-download-link">{{ document.viewName }}<span>{{ document.getFormattedBytes() }}</span></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="search-open" class="search-open bordered-button bordered-button_blue">
                        <div id="search-additional-form" class="search-additional-form">
                            <div class="row">
                                {% set archive = project.archive %}
                                {% if archive|length > 0 %}
                                    <div class="col-sm-12">
                                        <div class="row">
                                            {% include 'AppBundle:Profile/Archive:file_list.html.twig' with {docs: archive, can_delete: is_granted('CAN_EDIT_PROJECT', project)} %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <span data-opentext="{{ 'project.archive' | trans }}" data-closetext="{{ 'hide' | trans }}" class="search-close">
                            {{ 'project.archive' | trans }}
                        </span>
                        <i aria-hidden="true" class="fa fa-angle-down"></i>
                    </div>
                    <a href="{{ path('profile.project.index') }}" class="grey-button default-button"><i class="fa fa-angle-left" aria-hidden="true"></i> Назад к списку</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
