{% set personality = member.personality is defined ? member.personality : member %}
<div class="media program bordered">
    <div class="media-left {{ personality.photo.fileName is defined ? '' : 'default' }}">
        <img src="{{ personality.photo.fileName is defined ? personality.imagePath }}">
    </div>
    <div class="media-body media-personality">
        {% if role == 'head' %}
            <p class="default-label">{{ 'project.head'|trans([], 'dictionary') }}</p>
        {% elseif role == 'manager' %}
            <p class="default-label">{{ 'project.manager'|trans([], 'dictionary') }}</p>
        {% endif %}
        <h4 class="media-header">
            {{ personality.fullName }}
        </h4>
        {% if personality.workPlace %}
            <p>
                {{ personality.professionalPosition is defined ? personality.professionalPosition|trans([], 'dictionary') }}
            </p>
            <p>
                {{ personality.workPlace|trans([], 'dictionary') }}
            </p>
        {% endif %}
    </div>
</div>
