{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.project'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' with {menu: 'project'} %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{ 'project.members'|trans([], 'dictionary') }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if project.head %}
                                {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.head, role: 'head'} %}
                            {% endif %}
                            {% if project.manager %}
                                {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.manager, role: 'manager'} %}
                            {% endif %}
                            {% for member in project.projectMembers %}
                                {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: member, role: 'member'} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
