{{ form_start(form) }}

{{ form_row(form.university) }}
{{ form_row(form.title) }}
{{ form_row(form.audiences) }}
{{ form_row(form.contestType) }}
{{ form_row(form.knowledgeAreaItems) }}
<div class="form-group form-dates">
    <label class="control-label">{{ ('Dates'|trans([], 'dictionary')) }}</label>
    {{ form_widget(form.eventDates.dateBegin) }}
    <label class="default-label inline">–</label>
    {{ form_widget(form.eventDates.dateEnd) }}
</div>

<div class="form-group form-dates">
    {{ form_label(form.eventDates.dateReceptionEnd) }}
    {{ form_widget(form.eventDates.dateReceptionEnd) }}
</div>

{{ form_rest(form) }}

<div class="center-block">
    <a href="{{ path('main.contest.list') }}" class="unbordered-button">{{ 'reset'|trans }}</a>
    <button type="submit" class="search-button blue-button default-button">{{ 'search'|trans }}</button>
</div>

{{ form_end(form) }}
