{% extends '@App/default/base_feed_with_filter.html.twig' %}

{% block title %}{{ 'seo.title.contest_page'|trans }}{% endblock %}
{% block descrition %}{{ 'seo.description.contest_page'|trans }}{% endblock %}

{% set h1_title = 'profile_main.projects.title'| trans %}
{% set totalItemCount = contests.getTotalItemCount %}
{% set page_class = 'programms-page' %}
{% set body_class = 'programms contests tinted' %}

{% block filters %}
    {% include '@App/default/Contest/contest_filter.html.twig' %}
{% endblock %}

{% block feed %}
    {% for contest in contests %}
        <div class="media program">
            <h3 class="media-heading">
                <a href="{{ redirectLink(contest) }}" target="_blank">
                    {{ contest.translate().title }}
                </a>
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('main.contest.list',{ 'city[city]' : [contest.city.id] }) }}">
                        {{ contest.city.translate().getName() }}
                    </a>
                </li>
                {% if contest.university %}
                    <li>
                        <a href="{{ path('main.contest.list',{ 'university[]': contest.university.id }) }}">
                            {{ contest.university.translate().getName() }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('main.contest.list',{ 'contestType' : contest.contestType.id }) }}">
                        {{ contest.contestType|trans([], 'dictionary') }}
                    </a>
                </li>
            </ol>
            <div class="media-left">
                <a href="{{ path('home.university.index', {'id': contest.university.id }) }}">{{ uni_logo(contest.university) }}</a>
            </div>
            <div class="media-body program-info-container">
                <div class="program-info">
                    <div class="clearfix">
                        <div class="program-info-left-column col-md-6">
                            <p>{{ (contest.contestType)|trans([], 'dictionary') }}</p>
                            <p>
                                {% set languages = [] %}
                                {% for language in contest.languages %}
                                    {% set languages = languages|merge([language|trans([], 'dictionary')]) %}
                                {% endfor %}
                                {{ languages|join(', ') }}
                            </p>
                            {% if contest.audiences %}
                                {% set audienceGroups = [] %}
                                {% for audienceGroup in contest.audiences %}
                                    {% set audienceGroups = audienceGroups|merge([audienceGroup.transKey|trans([], 'dictionary')]) %}
                                {% endfor %}
                                {{ audienceGroups|join(', ') }}
                            {% endif %}
                        </div>
                        {% if contest.dateBegin or contest.dateEnd %}
                        <div class="program-info-left-column col-md-3">
                            {% if (date()|date('Y-m-d') > contest.dateEnd|date('Y-m-d')) %}
                            <div class="expired">
                                {% if contest.dateBegin or contest.dateEnd %}
                                    <p class="default-label">{{ ('Dates'|trans([], 'dictionary')) }}</p>
                                {% endif %}
                                <p>
                                    {% if contest.dateBegin and contest.dateEnd %}
                                        {{ contest.dateBegin | date('d.m.Y') }} - {{ contest.dateEnd | date('d.m.Y') }}
                                    {% elseif contest.dateBegin  and contest.dateEnd == null %}
                                        {{ 'date.from' | trans }}
                                        {{ contest.dateBegin|date('d.m.Y') }}
                                    {% elseif contest.dateBegin == null and contest.dateEnd %}
                                        {{ 'date.up_to' | trans }}
                                        {{ contest.dateEnd | date('d.m.Y') }}
                                    {% endif %}
                                </p>
                                <span class="expired-label">{{ 'expired_dates' | trans }}</span>
                            </div>
                            {% else %}
                                {% if contest.dateBegin or contest.dateEnd %}
                                    <p class="default-label">{{ ('Dates'|trans([], 'dictionary')) }}</p>
                                    <p>
                                        {% if contest.dateBegin and contest.dateEnd %}
                                            {{ contest.dateBegin | date('d.m.Y') }} - {{ contest.dateEnd | date('d.m.Y') }}
                                        {% elseif contest.dateBegin  and contest.dateEnd == null %}
                                            {{ 'date.from' | trans }}
                                            {{ contest.dateBegin|date('d.m.Y') }}
                                        {% elseif contest.dateBegin == null and contest.dateEnd %}
                                            {{ 'date.up_to' | trans }}
                                            {{ contest.dateEnd | date('d.m.Y') }}
                                        {% endif %}
                                    </p>
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endif %}
                        {% if contest.dateReceptionEnd %}
                        <div class="program-info-left-column col-md-3">
                                  {% if (date()|date('Y-m-d') > contest.dateReceptionEnd|date('Y-m-d')) %}
                                    <div class="expired">
                                          <p class="default-label">{{ ('Date reception end'|trans([], 'dictionary')) }}</p>
                                          <p>
                                              {{ contest.dateReceptionEnd|date('d.m.Y') }}
                                          </p>
                                    </div>
                                      <span class="expired-label">{{ 'expired_reception' | trans }}</span>
                                  {%  else %}
                                      <p class="default-label">{{ ('Date reception end'|trans([], 'dictionary')) }}</p>
                                      <p>
                                          {{ contest.dateReceptionEnd|date('d.m.Y') }}
                                      </p>
                                  {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block paginator %}
    {{ knp_pagination_render(contests) }}
{% endblock %}
