<section class="edit-form-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.translations) }}
    <div class="clearfix row">
        <div class="col-sm-6">
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
            {{ form_errors(form.country) }}
        </div>
        <div class="col-sm-6 aligned-label">
            {{ form_row(form.isForeign) }}
        </div>
    </div>
    <div class="partner-logo">
        {{ form_row(form.logo) }}
    </div>

    {% if is_granted('CAN_PUBLISH_PARTNER', form.vars.data) %}
        {{ form_widget(form.submitAndPublish, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': ' submit-button side-button blue-button default-button'}}) }}

        {% if form.vars.data.isModerating %}
            <a href="{{ path('profile.partner.decline', {'id': form.vars.data.id}) }}" class="submit-button side-button blue-button default-button">{{ 'decline'|trans([], 'dictionary') }}</a>
        {% endif %}

    {% elseif form.submitAndModerate is defined %}
        {{ form_widget(form.submitAndModerate, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'save-button submit-button side-button blue-button default-button'}}) }}
    {% else %}
        {{ form_widget(form.submit, {'attr': {'class': ' submit-button side-button pink-button default-button'}}) }}
    {% endif %}

    {{ form_end(form) }}
</section>
