{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            {% block page_header %}
                <h1 class="default-title">
                    {{ 'top-menu.account'|trans }}
                </h1>
            {% endblock %}
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'profile_menu.partner.title'|trans }}
                    </h2>
                    <span class="total-counter">
                        {{ partners.getTotalItemCount }}
                    </span>
                    <a href="{{ url('profile.partner.add') }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'partner.page.add'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ "main"|trans }}</a></li>
                        <li class="active">{{ "partner.page.list"|trans }}</li>
                    </ol>
                    <div class="search-top-form row">
                        {% include '@App/Profile/Partner/list_filter.html.twig' %}
                    </div>
                    <section class="feed">
                        {% for partner in partners %}
                            <div class="media program">
                                {% if partner.image %}
                                    <div class="media-left">
                                        <img src="{{ partner.imagePath }}">
                                    </div>
                                {% endif %}
                                <div class="media-body">
                                    <h3 class="media-heading">
                                        <a href="{{ partner.translate().url }}" target="_blank">
                                            {{ partner.translate().name }}
                                        </a>
                                    </h3>
                                    <div class="clearfix row">
                                        <div class="col-sm-4">
                                            {% if partner.createdAt is not empty %}
                                                <p class="default-label">{{ 'created.at'|trans([], 'dictionary') }}</p>
                                                <p>{{ partner.createdAt|date('d.m.Y') }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="feed-control">
                                            {% if partner.isDraft %}
                                                <p class="clearfix">
                                                    <span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span>
                                                </p>
                                            {% elseif partner.isModerating %}
                                                <p class="clearfix">
                                                    <span class="feed-edit-tag">{{ 'moderating'|trans([], 'dictionary') }}</span>
                                                </p>
                                            {% endif %}

                                            {% if is_granted('CAN_REMOVE_PARTNER', partner) %}
                                                <a href="{{ path('profile.partner.remove', {'id': partner.id}) }}" class="feed-remove"></a>
                                            {% endif %}

                                            {% if is_granted('CAN_EDIT_PARTNER', partner) %}
                                                <a href="{{ path('profile.partner.edit', {'id': partner.id}) }}"
                                                   class="feed-edit"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </section>
                    {{ knp_pagination_render(partners) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

