{{ form_start(searchForm) }}
<div class="col-md-7">
    {{ form_row(searchForm.name) }}
</div>
<div class="col-md-5">
    {{ form_row(searchForm.status) }}
    <button type="submit" class="search-button blue-button default-button">
        {{ 'search'|trans() }}
    </button>
</div>
{{ form_end(searchForm) }}
