{% set currentRoute = app.request.attributes.get('_route') %}
{% for doc in docs %}
        <div class="col-sm-6">
            <a class="pull-left download-link" href="{{ path('download.document', {id: doc.id}) }}" download title="{{ 'archive.download'|trans([], 'dictionary') }}">{{ doc.downloadName }}<span>{{ doc.formattedBytes }}</span></a>
            <span class="pull-right">
                {% if can_delete|default(false) and currentRoute == 'profile.project.edit' %}
                    <a class="feed-remove tooltip-toggle" href="javascript:void(0);" data-toggle="modal" data-target="#delete-archived-forever-modal" data-ajax-remove="true" data-link="{{ path('profile.archive.delete', {id: doc.id}) }}">
                        <span class="tooltip">
                            <i class="fa fa-sort-asc" aria-hidden="true"></i>
                            {{ 'archive.delete_forever'|trans([], 'dictionary') }}
                        </span>
                    </a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>{{ 'archive.is_empty'|trans([], 'dictionary') }}</p>
    {% endfor %}

<div id="delete-archived-forever-modal" class="default-modal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p class="modal-heading">
                {{ 'delete_archived_forever'|trans([], 'dictionary') }}
            </p>
            <a href="#" data-dismiss="modal" class="cancel-button blue-button default-button">
                {{ 'cancel' | trans  }}
            </a>
            <a href="#" class="delete-submit pink-button default-button"><i class="fa fa-trash-o" aria-hidden="true"></i>
                {{ 'delete' | trans  }}</a>
            <a href="#" data-dismiss="modal" class="close-button"></a>
        </div>
    </div>
</div>
