<section class="edit-form-wrapper">
    {{ form_start(form) }}

    {% form_theme form.entranceTests "AppBundle:form:checkbox_mapping_entity_type.html.twig" %}
    {% form_theme form.knowledgeAreaItem "AppBundle:form:select_mapping_entity_type.html.twig" %}

    {% if is_granted(['ROLE_SITE_ADMIN', 'ROLE_GLOBAL_UNIVERSITY_ADMIN']) %}

        {% form_theme form.universityBranch "AppBundle:form:select_mapping_entity_type.html.twig" %}
        {% form_theme form.partners "AppBundle:form:select_mapping_entity_type.html.twig" %}

        {{ form_row(form.university) }}
    {% endif %}

    {{ form_row(form.translations) }}
    <hr/>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.educationForm) }}
        </div>
        <div class="col-md-4" id="education-level">
            {{ form_row(form.educationLevel) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.duration) }}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.knowledgeArea) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.knowledgeAreaItem) }}
        </div>
    </div>
    <div class="entrance-tests">
    <hr/>
    {{ form_row(form.educationLevel) }}
    {{ form_label(form.entranceTests) }}
    </div>
    <div class="default-columns clearfix {{  form.entranceTests.vars.errors|length > 0 ? 'has-error' }}">
        {{ form_widget(form.entranceTests) }}
        {{ form_errors(form.entranceTests) }}
    </div>

    <hr/>

    <label class="default-label">
       {{ 'additional_information'|trans([], 'dictionary') }}
    </label>
    {{ form_widget(form.hasMilitaryDepartment) }}
    {{ form_widget(form.exchangeStudy) }}
    {{ form_widget(form.doubleDiploma) }}
    {{ form_label(form.partners) }}
    {{ form_widget(form.partners, {'attr': {'class' : 'select2-apply'}}) }}
    {{ form_errors(form.partners) }}
    <hr/>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.contractPlaces) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.budgetPlaces) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.price) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.entranceScore) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.foreignPlaces) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.foreignPrice) }}
        </div>
    </div>

    <hr/>

    <div class="row">
            <div class="col-md-6">
                {{ form_row(form.languages) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.universityBranch) }}
            </div>
    </div>
    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}
        </p>
        {{ form_widget(form.submitAndPublish, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'submit-button side-button blue-button default-button'}}) }}
    </div>
    {{ form_end(form) }}
</section>

{% include '@App/vue-components.html.twig' %}
