{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'middle-menu.programs'|trans() }}
                    </h2>
                    {% if (programs.getTotalItemCount > 0) %}
                        <span class="total-counter">{{ programs.getTotalItemCount }}</span>
                    {% endif %}
                    <a href="{{ url('profile.program.create') }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'create_new'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.edu_programms.title'|trans() }}</li>
                    </ol>

                    {% include '@App/Profile/Program/list_filter.html.twig' %}

                    <section class="feed programs-list profile-inner">
                        {% for program in programs %}
                        <div class="media program">
                            <h3 class="media-heading">{{ program.translate(app.request.getLocale()).name }}</h3>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('profile.program.index', {'branchCities': [program.universityBranch.city.id] }) }}">{{ program.universityBranch.city }}</a>
                                </li>
                                {% if is_granted(['ROLE_SITE_ADMIN', 'ROLE_GLOBAL_UNIVERSITY_ADMIN']) %}
                                    <li>
                                        <a href="{{ path('profile.program.index', {'university': [program.university.id] }) }}">{{ program.university.translate().shortName }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('profile.program.index', {'knowledgeArea': program.knowledgeArea.id, 'knowledgeAreaItem': [program.knowledgeAreaItem.id] }) }}">
                                    {{ program.knowledgeAreaItem.transKey|trans([], 'dictionary')}}
                                    </a>
                                </li>
                            </ol>
                        <div class="media-body program-info-container">
                            <div class="program-info">
                                <div class="row clearfix">
                                    <div class="program-info-left-column col-md-3">
                                        {% set years = program.duration // 12 %}
                                        {% set months = program.duration % 12 %}
                                        <p>
                                            {{ program.educationLevel.transKey|trans([], 'dictionary') }}
                                            / {{ program.educationForm.transKey|trans([], 'dictionary') }},
                                            {% if years > 0 %}
                                                {{ years }} {{ 'years'|transchoice(years, [], 'dictionary') }}
                                            {% endif %}
                                            {% if months > 0 %}
                                                {{ months }} {{ 'months'|transchoice(months, [], 'dictionary') }}
                                            {% endif %}
                                        </p>
                                        <p>
                                            {% set languages = [] %}
                                            {% for language in program.languages %}
                                                {% set languages = languages|merge([language|trans([], 'dictionary')])%}
                                            {% endfor %}
                                            {{ languages|join(', ') }}
                                        </p>

                                        {% if program.hasMilitaryDepartment %}
                                            <p>{{ 'Has military department' | trans ([], 'dictionary') }}</p>
                                        {% endif %}

                                        {% if program.exchangeStudy %}
                                            <p>{{ 'Exchange study' | trans([], 'dictionary') }}</p>
                                        {% endif %}

                                        {% if program.doubleDiploma %}
                                            <p>{{ 'Double diploma'| trans([], 'dictionary') }}</p>
                                        {% endif %}

                                    </div>
                                    {% if program.budgetPlaces or program.contractPlaces or program.contractPlaces or program.foreignPlaces %}
                                    <div class="program-info-left-column col-md-3">
                                        {% if program.budgetPlaces or program.contractPlaces %}
                                          <p class="default-label">{{ 'places'|trans }}</p>
                                        {% endif %}

                                        {% if program.budgetPlaces %}
                                            <p>
                                                {{ 'budget'|trans }}: {{ program.budgetPlaces }}
                                                {% if program.entranceScore %}
                                                    / <span>{{ program.entranceScore }} {{ 'score' | trans() }}</span>
                                                {% endif %}
                                            </p>
                                        {% endif %}

                                        {% if program.contractPlaces %}
                                            <p>
                                                {{ 'contract'|trans }}: {{ program.contractPlaces }}
                                                / <span>{{ program.price }} {{ 'per_year'|trans }}</span>
                                            </p>
                                        {% endif %}

                                        {% if program.foreignPlaces %}
                                            <p>
                                                {{ 'foreign'|trans }}: {{ program.foreignPlaces }}
                                                / <span>{{ program.foreignPrice }} {{ 'per_year'|trans }}</span>
                                            </p>
                                        {% endif %}
                                    </div>
                                    {%  endif %}

                                    {% if program.entranceTests | length > 0 %}
                                    <div class="program-info-left-column col-md-3">
                                        <p class="default-label">{{ 'tests'|trans }}</p>
                                        {% set tests = [] %}
                                        {% for test in program.entranceTests %}
                                            {% set test = test|trans([], 'dictionary') %}
                                            {% set tests = tests|merge([test]) %}
                                        {% endfor %}
                                        <p>{{ tests|join(', ')}}</p>
                                    </div>
                                    {% endif %}
                                    {% if program.createdAt is not empty %}
                                    <div class="program-info-left-column col-md-3">
                                            <p class="default-label">{{ 'created.at'|trans([], 'dictionary') }}</p>
                                            <p>{{ program.createdAt|date('d.m.Y') }}</p>
                                    </div>
                                    {% endif %}

                                    <div class="feed-control">
                                        {% if not program.isPublished %}
                                        <p class="clearfix"><span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span></p>
                                        {% endif %}
                                        <a href="#delete-modal" data-action="{{ path('profile.program.delete', {'id': program.id}) }}"
                                           data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                                        </a>
                                        <a href="{{ url('profile.program.edit', {'id': program.id}) }}" class="feed-edit tooltip-toggle" title="{{ 'edit'|trans([], 'dictionary') }}">
                                            <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                                        </a>
                                    </div>

                                    {% if program.partners | length > 0 %}
                                        <div class="col-sm-12">
                                            <p class="default-label">
                                                {{ 'Partner'|trans([], 'dictionary') }}
                                                {% if program.doubleDiploma %}
                                                    {{ 'of the double degree program'| trans([], 'dictionary') }}
                                                {% endif %}</p>
                                            {% for partner in program.partners|slice(0, 3)%}
                                                <p>{{ partner }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </section>
                    {% if  (programs.getTotalItemCount > 12) %}
                    <div>
                        {{ knp_pagination_render(programs) }}
                    </div>
                   {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
