{{ form_start(filterForm) }}

{% form_theme filterForm.knowledgeAreaItem "AppBundle:form:select_mapping_entity_type.html.twig" %}

{% if is_granted(['ROLE_SITE_ADMIN', 'ROLE_GLOBAL_UNIVERSITY_ADMIN']) %}
    {% form_theme filterForm.branchCities "AppBundle:form:select_mapping_entity_type.html.twig" %}
{% endif %}

<div class="search-top-form row">
    <div class="col-md-7">
        {{ form_row(filterForm.name, {attr: filterForm.name.vars.attr|merge({placeholder: 'search_placeholder'|trans})}) }}
    </div>
    <div class="col-md-5">
        {{ form_label(filterForm.isPublished) }}
        {{ form_widget(filterForm.isPublished) }}
        <button class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
<div id="search-open" class="search-open bordered-button bordered-button_blue">
    <div id="search-additional-form" class="search-additional-form">
        <div class="clearfix">

                <div class="row clearfix">
                    <div class="col-md-6">
                        {{ form_row(filterForm.branchCities) }}
                    </div>
                    {% if filterForm.university is defined %}
                    <div class="col-md-6">
                        {{ form_row(filterForm.university) }}
                    </div>
                    {% endif %}
                </div>

            <div class="row">
                <div class="col-md-3">
                    {{ form_row(filterForm.educationForm) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(filterForm.educationLevel) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(filterForm.languages) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(filterForm.hasDoubleGraduate) }}
                    {{ form_row(filterForm.hasMilitaryDepartment) }}
                    {{ form_row(filterForm.hasBudgetPlaces) }}
                </div>
            </div>
            <hr/>
            <div class="sub-list clearfix row">
                <div class="col-md-4">
                    {{ form_row(filterForm.knowledgeArea) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(filterForm.knowledgeAreaItem) }}
                </div>
                <div class="form-prices col-md-4">
                    <label class="default-label">
                        {{ 'education_cost'|trans }}
                    </label>
                    {{ form_widget(filterForm.priceFrom, {attr: {class: "default-input"}}) }}
                    <span>-</span>
                    {{ form_widget(filterForm.priceTo, {attr: {class: "default-input"}}) }}
                    <label class="currency-label default-label">
                        {{ 'price'|trans }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <span class="search-close" data-openText="{{ 'advanced_search'|trans() }}"
          data-closeText="{{ 'hide'|trans() }}">
        {{ 'advanced_search'|trans }}
    </span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>

{{ form_end(filterForm) }}

{% include '@App/vue-components.html.twig' %}
