{% extends 'AppBundle:Profile:index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'profile_main.settings.title'|trans() }}
            </h1>
            <div class="programms-page greeting clearfix">
                <p>{{ 'profile.settings.email_confirmed'|trans }}</p>
            </div>
        </div>
    </main>
{% endblock %}
