{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::confirm-modal.html.twig' %}
{% endblock %}

{% block body_class %}profile-page edit-page{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'profile_main.settings.title'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include '@App/Profile/left_menu.html.twig' %}
                </aside>
                <div class="right-wrapper clearfix">
                    <h2 class="default-sub-title">
                        {{ 'profile_main.settings.title'|trans() }}
                    </h2>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.settings.title'|trans() }}</li>
                    </ol>
                    {% include '@App/Profile/Settings/form.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
