{{ form_start(settingsForm) }}
<div class="clearfix row">
    <div class="col-md-12">
        {{ form_row(settingsForm.translations) }}
    </div>
    <div class="col-md-4">
        {{ form_row(settingsForm.email, {'label': 'profile.settings.email'}) }}
        {% if user.confirmationToken and user.newEmail %}
            <p>{{ 'profile.settings.awaits_confirmation'|trans }}: <span>{{ user.newEmail }}</span></p>
        {% endif %}
    </div>
</div>
<div class="bordered">
    <h3 class="centered">{{ 'profile.settings.change_password'| trans }}</h3>
    <p class="centered">{{ 'profile.settings.change_default_password'|trans }}</p>
    <div class="clearfix row">
        <div class="col-md-4 col-md-offset-2">
            {{ form_row(settingsForm.plainPassword.first, {'label': 'profile.settings.plain_password'}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(settingsForm.plainPassword.second, {'label': 'profile.settings.repeat_plain_password'}) }}
        </div>
    </div>
</div>
<div class="clearfix old-password">
    <p class="required-text">
        {{ 'required' | trans }}
    </p>
    <button type="submit" class="btn default-button blue-button pull-right">{{ 'Submit'|trans }}</button>
    {{ form_row(settingsForm.oldPassword, {'label': 'profile.settings.old_password'}) }}
</div>
{{ form_end(settingsForm) }}
