{{ form_start(form) }}

{{ form_rest(form) }}

<div class="center-block">
    <a href="{{ path('main.project.list') }}" class="unbordered-button">{{ 'reset'|trans }}</a>
    <button type="submit" class="search-button blue-button default-button">{{ 'search'|trans }}</button>
</div>

{{ form_end(form) }}
