{% extends "@App/default/base_feed_with_filter.html.twig" %}

{% set h1_title = 'profile_main.assoc_projects.title'|trans %}
{% set totalItemCount = projects.getTotalItemCount %}
{% set page_class = 'programms-page' %}
{% set body_class = 'project-page tinted' %}

{% block filters_wrapper %}
    <div class="practice-search search-form">
        {% include '@App/default/Project/filter.html.twig' with {form: filterForm} %}
    </div>
{% endblock %}

{% block feed_wrapper %}
    <div class="project-feed">
        {% for project in projects %}
            <div class="media program">
                <h2 class="media-heading">
                    <a href="{{ path('main.project.show', {id: project.id}) }}">
                        {{ project.translate().name }}
                    </a>
                </h2>
                <div class="media-body program-info-container">
                    <div class="row clearfix">
                        <div class="program-info-left-column col-md-4">
                            <p class="default-label">{{ 'project.university'|trans([], 'dictionary') }}</p>
                            <div class="project-coord">
                                {{ uni_logo(project.university) }}
                                <p class="vertical-align">{{ project.university }}</p>
                            </div>
                        </div>
                        <div class="program-info-left-column col-md-4">
                            <div class="{{ project.isOpen() ? '' : 'expired' }}">
                                <p class="default-label">{{ 'Dates'|trans([], 'dictionary') }}</p>
                                <p>{{ project.dateStart|date('d.m.Y') }}
                                    - {{ project.dateEnd|date('d.m.Y') }}</p>
                            </div>
                            {% if not project.isOpen() %}
                                <span
                                    class="expired-label">{{ 'project.closed'|trans([], 'dictionary') }}</span>
                            {% endif %}
                        </div>
                        <div class="program-info-left-column col-md-4">
                            <p class="default-label">{{ 'project.head'|trans([], 'dictionary') }}</p>
                            <p>{{ project.head.fullName }}, {{ project.head.workPlace }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block paginator %}
    {{ knp_pagination_render(projects) }}
{% endblock %}
