{% set personality = member.personality is defined ? member.personality : member %}
<div class="media program">
    <div class="media-left {{ personality.photo.fileName is defined ? '' : 'default' }}">
        <img src="{{ personality.photo.fileName is defined ? personality.imagePath }}">
    </div>
    <div class="media-body media-personality">
        {% if role == 'head' %}
            <p class="clearfix"><span class="feed-edit-tag">{{ 'project.head'|trans([], 'dictionary') }}</span></p>
        {% elseif role == 'manager' %}
            <p class="clearfix"><span class="feed-edit-tag">{{ 'project.manager'|trans([], 'dictionary') }}</span></p>
        {% endif %}
        <h4 class="media-header">
            {{ personality.fullName }}
        </h4>
        {% if personality.workPlace %}
            <p>
                {{ personality.professionalPosition is defined ? personality.professionalPosition|trans([], 'dictionary') }}
            </p>
            <p>
                {{ personality.workPlace|trans([], 'dictionary') }}
            </p>
        {% endif %}
        {{% if personality.phone or personality.email %}
            <p>
                {{ personality.phone }}
            </p>
            <p>
                <a href="mailto:{{ personality.email }}">{{ personality.email }}</a>
            </p>
        {% endif %}
    </div>
</div>
