{% extends '@App/base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% set body_class = 'project-page tinted' %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    <span>{{ 'profile_main.assoc_projects.title' | trans }}</span>
                </h1>
            </div>
        </section>
        <section class="content news-content">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-sm-9 news-text">
                        <h2>{{ project.translate().name }}</h2>
                        <div class="clearfix row">
                            <div class="col-sm-4">
                                <p class="default-label">{{ 'Dates'|trans([], 'dictionary') }}</p>
                                <p>{{ project.dateStart|date('d.m.Y') }} - {{ project.dateEnd|date('d.m.Y') }}
                                    {% if project.university %}
                                <p class="default-label">{{ 'project.university'|trans([], 'dictionary') }}</p>
                                <p class="vertical-align">{{ project.university }}</p>
                                {% endif %}
                            </div>
                            <div class="col-sm-8">
                                {% if project.translate().description %}
                                    {{ project.translate().description|raw }}
                                {% endif %}
                                {% if project.translate().purpose %}
                                    <p class="default-label">{{ 'project.purpose'|trans([], 'dictionary') }}</p>
                                    <p>{{ project.translate().purpose }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="project-members">
                                <h3>
                                    {{ 'project.members' | trans }}
                                </h3>
                                <div class="clearfix row">
                                    {% if project.head %}
                                        <div class="col-sm-6">
                                            {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.head, role: 'head'} %}
                                        </div>
                                    {% endif %}
                                    {% if project.manager %}
                                        <div class="col-sm-6">
                                            {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: project.manager, role: 'manager'} %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="clearfix row">
                                    {% set i = 0 %}
                                    {% for member in project.projectMembers %}
                                    {% if loop.index > 2 and loop.index is not divisible by(2) %}
                                </div>
                                <div class="clearfix row">
                                    {% endif %}
                                    <div class="col-sm-6">
                                        {% include 'AppBundle:Profile/Communication/Project:member_card.html.twig' with {member: member, role: 'member'} %}
                                    </div>
                                    {% if loop.last and loop.index is not divisible by(2) %}
                                        <div class="col-sm-6 empty">
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        <div class="project-docs">
                            <h3>
                                {{ 'project.documents' | trans }}
                            </h3>
                            <div class="clearfix row">
                                {% if project.passport %}
                                    <div class="col-sm-6">
                                        <p class="default-label">{{ 'project.passport'|trans([], 'dictionary') }}</p>
                                        {% for doc in project.passport.uploadedDocuments %}
                                            <a href="{{ path('download.document', {id: doc.id}) }}" class="download-link left-download-link">
                                                {{ doc.downloadName }}
                                                <span>{{ doc.formattedBytes }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <hr/>
                            <div class="clearfix row">
                                {% for document in project.uploadedDocuments %}
                                    <div class="col-sm-6">
                                        <a href="{{ path('download.document', {id:document.id}) }}" class="download-link left-download-link">{{ document.viewName }}<span>{{ document.getFormattedBytes() }}</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="about-social-links">
                            <p>{{ 'social_share' | trans }}:

                                <a href="{{ build_url('http://vk.com/share.php', {
                                    url: app.request.uri,
                                    title: project.translate().name
                                }) }}" class="social">
                                    <i class="fa fa-vk" aria-hidden="true"></i></a>

                                <a href="{{ build_url('http://www.facebook.com/sharer.php', {
                                    u: app.request.uri
                                }) }}" class="social">
                                    <i class="fa fa-facebook" aria-hidden="true"></i></a>

                                <a href="{{ build_url('http://twitter.com/share', {
                                    url: app.request.uri,
                                    text: project.translate().name
                                }) }}" class="social">
                                    <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                    {% if relatedProjects is defined and relatedProjects|length > 0 %}
                        <div class="col-sm-3">
                            <ul class="nav nav-tabs main-nav news-nav">
                                <li class="active">
                                    <a href="{{ path('main.project.list') }}">
                                        {{ 'project.related'|trans([], 'dictionary') }}
                                    </a>
                                </li>
                            </ul>
                            <div class="border-wrapper clearfix">
                                {% for relatedProject in relatedProjects %}
                                    <article class="news-preview">
                                        <h1>
                                            <a href="{{ path('main.project.show', {id: relatedProject.id}) }}">
                                                {{ relatedProject.translate().name }}
                                            </a>
                                        </h1>
                                    </article>
                                {% endfor %}
                                <a href="{{ path('main.project.list') }}"
                                   class="bordered-button bordered-button_yellow no-border">
                                    <span>{{ 'show_all' | trans }}</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
