{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    Пользователи
    {% for user in userList %}
        <div>
            <a href="{{ url('admin.user.edit', {'id': user.id }) }}">
            {{ user.email }}
            </a>
        </div>

    {% endfor %}

{% endblock %}