<section class="edit-form-wrapper">
    {{ form_start(form) }}
    <div class="clearfix row">
        <div class="col-md-12">
            {{ form_row(form.translations) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.associationPosition) }}
        </div>
        <div class="col-sm-4 form-group">
            <label class="control-label required">
                {{ 'Work place' | trans([], 'dictionary') }}
                <span class="tooltip-button tooltip-toggle">?
                    <span class="tooltip">
                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                        {{ 'profile.personality.add_partner_if_need'|trans([], 'dictionary') }}
                    </span>
                </span>
            </label>
            {{ form_widget(form.workPlace) }}
            {{ form_errors(form.workPlace) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.email) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.link) }}
        </div>
    </div>

    <div class="partner-logo">
        {{ form_row(form.photo) }}
    </div>

    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}
        </p>
        {% if form.submitAndInvite is defined %}
            {{ form_widget(form.submitAndInvite) }}
        {% endif %}
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}
</section>
