{{ form_start(searchForm) }}
<div class="search-top-form row">
    <div class="col-md-7">
        {{ form_row(searchForm.nameOrPosition) }}
    </div>
    <div class="col-md-5">
        {{ form_label(searchForm.workPlace) }}
        {{ form_widget(searchForm.workPlace) }}
        <button class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
{{ form_end(searchForm) }}
