{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            {% block page_header %}
                <h1 class="default-title">
                    {{ 'top-menu.account'|trans }}
                </h1>
            {% endblock %}
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'profile_main.personality.title'|trans }}
                    </h2>
                    <span class="total-counter">
                        {{ personalities.getTotalItemCount }}
                    </span>
                    <a href="{{ url('profile.personality.create') }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'create_new'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ "main"|trans }}</a></li>
                        <li class="active">{{ "profile.personality.list"|trans }}</li>
                    </ol>

                    {% include '@App/Profile/Personality/list_filter.html.twig' %}

                    <section class="feed">
                        {% for personality in personalities %}
                            <div class="media program">
                                <div class="media-left {{ personality.photo.fileName is defined ? '' : 'default' }}">
                                    <img src="{{ personality.photo.fileName is defined ? personality.imagePath }}">
                                </div>
                                <div class="media-body media-personality">
                                    <h3 class="media-header">
                                        {{ personality.fullName }}
                                    </h3>
                                    <div class="clearfix row">
                                        <div class="col-sm-7">
                                            <p>
                                                {{ personality.professionalPosition }}
                                            </p>
                                            {% if personality.workPlace %}
                                            <p>
                                                {{ personality.workPlace.translate().name }}
                                            </p>
                                            {% endif %}
                                            <p>
                                                {{ personality.associationPosition|trans([], 'dictionary') }}
                                            </p>
                                        </div>
                                        {% if personality.phone or personality.email %}
                                        <div class="col-sm-4">
                                            <p class="default-label">
                                                {{ 'footer_contacts' | trans }}
                                            </p>
                                            <p>
                                                {{ personality.phone }}
                                            </p>
                                            <p>
                                                <a href="mailto:{{ personality.email }}" class="highlighted">{{ personality.email }}</a>
                                            </p>
                                        </div>
                                        {%  endif %}
                                        <div class="feed-control">
                                            {% if not personality.isEnabled %}
                                                <p class="clearfix">
                                                    <span class="feed-edit-tag">
                                                        {{ 'Not activated'|trans([], 'dictionary') }}
                                                    </span>
                                                </p>
                                            {% endif %}
                                            {% if is_granted('CAN_DELETE_PERSONALITY', personality) %}
                                                <a href="#delete-modal"
                                                   data-action="{{ path('profile.personality.delete', {'id': personality.id}) }}"
                                                   data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                                                </a>
                                            {% endif %}

                                            {% if is_granted('CAN_EDIT_PERSONALITY', personality) %}
                                                <a href="{{ path('profile.personality.edit', {'id': personality.id}) }}"
                                                   class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </section>
                    {{ knp_pagination_render(personalities) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

