{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::confirm-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'profile_main.page.university.title'|trans }}
                    </h2>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li><a href="{{ url('profile.program.index') }}">{{ 'middle-menu.association-members'|trans }} </a></li>
                        <li class="active">{{ 'create_new'|trans }}</li>
                    </ol>
                    {{ form_start(form) }}
                    {{ form_widget(form.translations) }}
                    {{ form_errors(form.translations) }}
                    <h2>{{ 'footer_contacts'|trans }}</h2>
                    <div class="university_contacts">
                        {{ form_widget(form.mainBranch) }}
                        {{ form_errors(form.mainBranch) }}
                    </div>
                    <h2>{{ 'Social links'|trans }}</h2>
                    <div class="university_contacts">
                        {{ form_row(form.socialLinks) }}
                    </div>
                        <h2>{{ 'Sub branches'|trans }}</h2>
                        <div class="sub-branches clearfix">
                            {{ form_row(form.subBranches) }}
                        </div>
                        <div class="clearfix">
                        <a id="add-branch" class="pink-button pull-right default-button">{{ 'create_new_branch'|trans() }}</a>
                        </div>
                    <h2>{{ 'slider_data'|trans }}</h2>
                    {{ form_widget(form.sliderData) }}
                    {{ form_errors(form.sliderData) }}
                    <h2>{{ 'partners'|trans }}</h2>
                    {{ form_widget(form.partners, {'attr': {'class': 'select2-apply'}}) }}
                    {{ form_errors(form.partners) }}

                    <h2>{{ 'uploaded_documents.title'|trans }}</h2>
                    {{ form_errors(form) }}
                    {{ form_label(form.uploadedDocuments) }}
                    <div class="form-group form-file-upload">
                        {{ form_widget(form.uploadedDocuments) }}
                        {{ form_errors(form.uploadedDocuments) }}
                    </div>
                    {% set prefix = form.vars.name %}
                    {% set count = university.uploadedDocuments | length %}
                    {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}

                    {{ form_widget(form.submit, {'attr': {'class': 'submit-button side-button blue-button default-button'}}) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        var branchCount = {{ form.subBranches|length }};
        var deleteLinkMessage = '{{ 'delete'|trans }}';
        var branchIndexName = branchCount + 1;
    </script>
    {{ parent() }}
{% endblock %}
