<section>
    <div class="container">
        <h1 class="main-title">
            {{ 'welcome'|trans }}
        </h1>
        <p class="sub-title">
            {{ 'login.title'|trans }}
        </p>
        <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <input class="default-input" type="text" id="username" name="_username" value="{{ last_username }}"
                   placeholder="{{ 'login_placeholder'|trans }}" required="required" />

            <div class="password-wrapper">
                <input class="default-input" type="password" id="password" name="_password" required="required" placeholder="{{ 'password_placeholder'|trans }}" />
                <a href="#" id="show-password" class="show-password"></a>
            </div>

            <input class="enter-button pink-button default-input default-button" type="submit" id="_submit" name="_submit" value="{{ 'login'|trans }}" />
            <div class="row">
                <div class="checkbox col-md-6">
                    <label class="login-remember" for="remember_me">
                        <input type="checkbox" id="remember_me" class="login-remember" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="forgot-password col-md-6">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'profile.settings.forgot_password'|trans() }}</a>
                </div>
            </div>
        </form>
        {% if error %}
            <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p class="about-registration sub-title">
            {{ 'about_registration'| trans }} <a href="mailto:info@globaluni.ru" class="highlighted">info@globaluni.ru</a>
        </p>
    </div>
</section>
