{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock %}
