{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body_class %}login-page{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="main-title">
                {{ 'reset_password'|trans([], 'messages') }}
            </h1>
            <div class="greeting clearfix">
                <p class="sub-title">{{ 'profile.settings.reset_password_email_sent'|trans }}</p>
            </div>
        </div>
    </main>
{% endblock %}
