{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="container">
        <h1 class="main-title">
            {{ 'reset_password'|trans([], 'messages') }}
        </h1>
        <p class="sub-title">
            {{ 'login.title'|trans([], 'messages') }}
        </p>
        <form class="fos_user_resetting_request login-form" action="{{ path('fos_user_resetting_send_email') }}"
              method="POST">
            <input class="default-input" type="text" id="username" name="username" value=""
                   placeholder="{{ 'login_placeholder'|trans([], 'messages') }}" required="required" />
            <input class="reset-button enter-button pink-button default-input default-button" type="submit" id="_submit" name="submit" value="{{ 'resetting.request.submit'|trans }}" />
            {% if csrf_token is defined %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
        </form>

        {% if error is defined %}
            <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <p class="about-registration sub-title">
            {{ 'about_registration'|trans([], 'messages') }} <a href="mailto:info@globaluni.ru" class="highlighted">info@globaluni.ru</a>
        </p>
    </div>
</section>
