{% trans_default_domain 'FOSUserBundle' %}

<section>
    <div class="container">
        <h1 class="main-title">
            {{ 'reset_password'|trans([], 'messages') }}
        </h1>
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
        {{ form_end(form) }}

        {% if error is defined %}
            <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <p class="about-registration sub-title">
            {{ 'about_registration'|trans([], 'messages') }}<a href="mailto:info@globaluni.ru" class="highlighted">info@globaluni.ru</a>
        </p>
    </div>
</section>
