<section class="edit-form-wrapper">
{{ form_start(form) }}

   {% if form.university is defined %}
       {{ form_row(form.university) }}
      <hr/>
   {% endif %}

   {{ form_row(form.translations) }}
   <hr/>
   {{ form_row(form.audiences) }}
   <hr/>
   {{ form_row(form.knowledgeAreaItems) }}
   <hr/>
   <div class="three-columns clearfix">
      {{ form_row(form.mobilityType) }}
      {{ form_row(form.city) }}
   </div>
   {{ form_row(form.languages) }}
   <hr/>
   {{ form_row(form.eventDates) }}
   <div class="clearfix">
      <p class="required-text">
         {{ 'required' | trans }}
      </p>
      {{ form_widget(form.submitAndPublish, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
      {{ form_widget(form.submit, {'attr': {'class': 'submit-button side-button blue-button default-button'}}) }}
   </div>
{{ form_end(form) }}
</section>
