{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'middle-menu.mobility'|trans }}
                    </h2>
                    {% if  (items.getTotalItemCount > 0) %}
                        <span class="total-counter">{{ items.getTotalItemCount }}</span>
                    {% endif %}
                    <a href="{{ path('profile.academic.create', {'_locale': locale}) }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'create_new'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'middle-menu.mobility'|trans }}</li>
                    </ol>

                    {% include '@App/Profile/AcademicMobility/filter_form.html.twig' %}

                    <section class="feed">
                        {% for mobility in items %}
                            {% include "AppBundle:Profile/AcademicMobility:item.html.twig" with {"mobility":mobility} %}
                        {% endfor %}
                    </section>
                    {% if  (items.getTotalItemCount > 12) %}
                        <div>
                            {{ knp_pagination_render(items) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
