<div class="media program">
    <h3 class="media-heading">
        <a href="{{ mobility.translate().pageUrl }}" target="_blank">{{ mobility.translate().title }}</a>
    </h3>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('profile.academic.index', {'city[city]': [mobility.city.id] }) }}">
              {{ mobility.city }}
            </a>
        </li>
        <li>
            <a href="{{ path('profile.academic.index', {'university': [mobility.university.id] }) }}">
                {{ mobility.university.translate().shortName }}
            </a>
        </li>
        <li>
            <a href="{{ path('profile.academic.index', {'mobilityType': mobility.mobilityType.id }) }}">
                {{ mobility.mobilityType|trans([], 'dictionary') }}
            </a>
        </li>
    </ol>
    <div class="media-body program-info-container">
        <div class="row clearfix">
            <div class="col-md-3">
                <p>{{ mobility.mobilityType|trans([], 'dictionary') }}</p>
                <p>
                    {% set languages = [] %}
                    {% for language in mobility.languages %}
                        {% set languages = languages|merge([language|trans([], 'dictionary')]) %}
                    {% endfor %}
                    {{ languages|join(', ') }}
                </p>
                <p>
                    {% set audiences = [] %}
                    {% for audience in mobility.audiences  %}
                        {% set audiences  = audiences|merge([audience|trans([], 'dictionary')])%}
                    {% endfor %}
                    {{ audiences|join(', ') }}
                </p>
            </div>
            {% if mobility.createdAt is not empty %}
                <div class="col-md-3">
                        <p class="default-label">
                            {{ 'created.at'|trans([], 'dictionary') }}
                        </p>
                        <p>
                            {{ mobility.createdAt|date('d.m.Y') }}
                        </p>
                </div>
            {% endif %}
            {% if mobility.dateBegin or mobility.dateEnd %}
            <div class="col-md-3">
                    {% if mobility.dateBegin and mobility.dateEnd %}
                        <p class="default-label">
                            {{ 'Dates' | trans([], 'dictionary') }}
                        </p>
                        <p>
                            {{ mobility.dateBegin | date('d.m.Y') }} - {{ mobility.dateEnd | date('d.m.Y') }}
                        </p>
                    {% elseif mobility.dateBegin  and mobility.dateEnd == null %}
                        <p class="default-label">
                            {{ 'date.from' | trans }}
                        </p>
                        <p>{{ mobility.dateBegin|date('d.m.Y') }}</p>
                    {% elseif mobility.dateBegin == null and mobility.dateEnd  %}
                        <p class="default-label">{{ 'date.up_to' | trans }}</p>
                        <p>{{ mobility.dateEnd | date('d.m.Y') }}</p>
                    {% endif %}
                </p>
            </div>
            {% endif %}
            {% if mobility.dateReceptionEnd or mobility.duration %}
            <div class="col-md-3">
                {% if mobility.dateReceptionEnd %}
                    <p class="default-label">
                        {{ 'registration_end' | trans }}
                    </p>
                    <p>{{ mobility.dateReceptionEnd|date('d.m.Y') }}</p>
                {% endif %}
                {% if mobility.duration %}
                    <br/>
                    <p class="default-label">
                        {{ 'duration' | trans }}
                    </p>
                    <p>
                        {{ mobility.duration }} {{ mobility.durationType|trans() }}
                    </p>
                {% endif %}
            </div>
            {% endif %}
            <div class="feed-control">
                {% if not mobility.isPublished %}
                    <p class="clearfix">
                        <span class="feed-edit-tag">
                            {{ 'draft'|trans([], 'dictionary') }}
                        </span>
                    </p>
                {% endif %}
                <a href="#delete-modal" data-action="{{ path('profile.academic.delete', {'id': mobility.id}) }}"
                   data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                </a>
                <a href="{{ path('profile.academic.edit', {'id': mobility.id}) }}" class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                </a>
            </div>
        </div>
    </div>

</div>
