<section class="edit-form-wrapper">

    {{ form_start(form) }}
    {{ form_row(form.translations) }}
    <div class="row clearfix">
        <div class="col-sm-6">
            {{ form_row(form.scope) }}
        </div>
        <div class="col-sm-6">
            {% if form.university is defined %}
                {{ form_row(form.university) }}
            {% endif %}
        </div>
    </div>
    {{ form_row(form.image) }}

    {{ form_errors(form) }}
    <div class="form-group form-file-upload">
        {{ form_label(form.uploadedDocuments) }}
        {{ form_widget(form.uploadedDocuments) }}
        {{ form_errors(form.uploadedDocuments) }}
        {% set count = bestPractice.uploadedDocuments | length %}
        {% set prefix = form.vars.name %}
        {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}
    </div>

    <hr/>

    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}
        </p>
        {% if form.submitAndPublish is defined %}
            {{ form_widget(form.submitAndPublish) }}
        {% endif %}
        {% if form.submitForModeration is defined %}
            {{ form_widget(form.submitForModeration) }}
        {% endif %}
        {% if form.submitAndSaveAsDraft is defined %}
            {{ form_widget(form.submitAndSaveAsDraft) }}
        {% endif %}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
</section>
