{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::delete-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'top-menu.account'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include "@App/Profile/left_menu.html.twig" %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        {{ 'profile_main.best_pract.title'|trans() }}
                    </h2>
                    {% if  (bestPractices.getTotalItemCount > 0) %}
                        <span class="total-counter">{{ bestPractices.getTotalItemCount }}</span>
                    {% endif %}
                    <a href="{{ path('profile.practice.create', {'_locale': locale}) }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'create_new'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans() }}</a></li>
                        <li class="active">{{ 'profile_main.best_pract.title'|trans() }}</li>
                    </ol>

                    {% include '@App/Profile/BestPractice/list_filter.html.twig' %}

                    <section class="feed programs-list">

                        {% for bestPractice in bestPractices %}
                            <div class="media program">
                                <h3 class="media-heading">
                                    <a href="{{ path('main.practice.show', {'id': bestPractice.id }) }}">
                                        {{ bestPractice.translate().title }}
                                    </a>
                                </h3>
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="{{ path('profile.practice.index', {'university[]': bestPractice.university.id }) }}">{{ bestPractice.university.translate().shortName }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('profile.practice.index', {'scope[]': bestPractice.scope.id }) }}">{{ bestPractice.scope|trans([], 'dictionary') }}</a>
                                    </li>
                                </ol>
                                <div class="clearfix row">
                                    <div class="col-md-6">
                                        {% if bestPractice.createdAt is not empty %}
                                            <p class="default-label">
                                                {{ 'created.at'|trans([], 'dictionary') }}
                                            </p>
                                            <p>{{ bestPractice.createdAt|date('d.m.Y') }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="feed-control">
                                        {% if bestPractice.isDraft %}
                                            <p class="clearfix">
                                                <span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span>
                                            </p>
                                        {% elseif bestPractice.isModerating %}
                                            <p class="clearfix">
                                                <span class="feed-edit-tag">
                                                    {{ 'moderating'|trans([], 'dictionary') }}
                                                </span>
                                            </p>
                                        {% endif %}
                                        {% if is_granted('CAN_REMOVE_BEST_PRACTICE', bestPractice) %}
                                            <a href="#delete-modal"
                                               data-action="{{ path('profile.practice.delete', {'id': bestPractice.id}) }}"
                                               data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                                            </a>
                                        {% endif %}
                                        {% if is_granted('CAN_EDIT_UNIVERSITY_BEST_PRACTICE', bestPractice) %}
                                            <a href="{{ url('profile.practice.edit', {'id': bestPractice.id}) }}"
                                               class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </section>
                    {% if  (bestPractices.getTotalItemCount > 12) %}
                        <div>
                            {{ knp_pagination_render(bestPractices) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
