{{ form_start(searchForm) }}
<div class="search-top-form row">
    <div class="col-md-7">
        {{ form_row(searchForm.title) }}
    </div>
    <div class="col-md-5">
        {{ form_label(searchForm.status) }}
        {{ form_widget(searchForm.status) }}
        <button class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
<div id="search-open" class="search-open bordered-button bordered-button_blue">
    <div id="search-additional-form" class="search-additional-form">
        <div class="row clearfix">
            {% if searchForm.university is defined %}
                <div class="col-md-6">
                    {{ form_label(searchForm.university) }}
                    {{ form_widget(searchForm.university) }}
                </div>
            {% endif %}
            <div class="col-md-6">
                {{ form_label(searchForm.scope) }}
                {{ form_widget(searchForm.scope) }}
            </div>
        </div>
    </div>
    <span class="search-close" data-openText="{{ 'advanced_search'|trans() }}"
          data-closeText="{{ 'hide'|trans() }}">
        {{ 'advanced_search'|trans }}
    </span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>
{{ form_end(searchForm) }}
