{{ form_start(form) }}
<section class="edit-form-wrapper">
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}
    <div class="sub-branches">
        {{ form_row(form.files) }}
    </div>
    <p>
        <a id="add-file" class="blue-button pull-right default-button btn">{{ 'create_new'|trans() }}</a>
    </p>
</section>
<div>
    {{ form_widget(form.submit, {'attr': {'class': ' submit-button side-button blue-button default-button'}}) }}
</div>
{{ form_end(form) }}
