{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::confirm-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'profile_menu.subscription.title'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include '@App/Profile/left_menu.html.twig' %}
                </aside>
                <div class="right-wrapper clearfix">
                    <h2 class="default-sub-title">
                        {{ 'subscription.page.list'|trans() }}
                    </h2>
                    <a href="{{ url('profile.subscription.export') }}"
                       download="download"
                       class="export-button blue-button side-button default-button">
                        <i class="fa fa-download"></i> {{ 'subscription.export'|trans }}
                    </a>
                    <a href="{{ url('profile.subscription.mail', {lang: 'en'}) }}"
                       class="note-button pink-button side-button default-button">
                        {{ 'subscription.page.send_en'|trans }}
                    </a>
                    <a href="{{ url('profile.subscription.mail', {lang: 'ru'}) }}"
                           class="note-button pink-button side-button default-button">
                        {{ 'subscription.page.send_ru'|trans }}
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('profile.index') }}">{{ 'main'|trans() }}</a></li>
                        <li><a href="{{ path('profile.subscription.index') }}">{{ 'subscription.page.list'|trans() }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
