{% extends 'AppBundle:Profile:index.html.twig' %}

{% block modals %}
    {% include 'AppBundle::confirm-modal.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <h1 class="default-title">
                {{ 'profile_menu.subscription.title'|trans() }}
            </h1>
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% include '@App/Profile/left_menu.html.twig' %}
                </aside>
                <div class="right-wrapper clearfix">
                    <h2 class="default-sub-title">
                        {{ ('subscription.page.send_' ~ lang)|trans }}
                    </h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('profile.index') }}">{{ 'main'|trans() }}</a></li>
                        <li><a href="{{ path('profile.subscription.index') }}">{{ 'subscription.page.list'|trans() }}</a></li>
                        <li><a href="#">{{ ('subscription.page.send_' ~ lang)|trans }}</a></li>
                    </ol>
                    {% include 'AppBundle:Profile/Subscription:form.html.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        // #formName_collectionFieldName
        var fileListClass = '#subscription_email_files';
        var fileIndexName = 0;
        var deleteLinkMessage = '{{ 'delete'|trans }}';
    </script>
    {{ parent() }}
{% endblock javascripts %}
