{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}university-page{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="university-heading">
            {# Insert image for university page from university.backgroundImage #}
            <img src="{{ asset('bundles/app/css/img/university/page/' ~ university.photo) }}" alt=""/>
            <div class="container">
                <h1 class="default-title">
                    {{ university.translate().getName() }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        {% if university.mainBranch %}
                            {% include '@App/default/University/main_branch.html.twig' with {'mainBranch': university.mainBranch} %}
                        {% endif %}
                        {% if university.subBranches %}
                            {% include '@App/default/University/sub_branches.html.twig' with {'subBranches': university.subBranches} %}
                        {% endif %}
                        {% if university.socialLinks %}
                            {% include '@App/default/University/social_links.html.twig'
                            with {'socialLinks': university.socialLinks} %}
                        {% endif %}
                    </div>
                    <div class="col-sm-7 about-info">
                        <div class="content-info">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('homepage') }}">{{ 'main'|trans }}</a></li>
                                <li><a href="{{ path('main.static.members') }}">{{ 'middle-menu.association-members'|trans }}</a></li>
                            </ol>
                        </div>
                        {% if university.sliderData %}
                            {% include '@App/default/University/slider_data.html.twig' with {'sliderData': university.sliderData} %}
                        {% endif %}

                            {{ university.translate().getDescription() | nl2br }}

                        {% if university.translate().promoVideo %}
                            <div class="promo-video-frame">
                                {{ university.translate().promoVideo |raw }}
                            </div>
                        {% endif %}
                        {% for document in university.uploadedDocuments %}
                            <a href="{{ path('download.document', {id:document.id}) }}" class="download-link">{{ document.viewName }}<span>{{ document.getFormattedBytes() }}</span></a>
                        {% endfor %}
                    </div>
                    {% include '@App/default/University/news.html.twig' %}
                </div>
                <div class="clearfix row rubrics aligned-center">
                    <div class="col-md-3">
                        <a href="{{ path('main.program.list', {'university':[university.id] }) }}" class="rubrics-item">
                            <span class="rubric-counter">{{ counters['programCount'] }}</span>
                            <p>
                                <span class="rubric-title">
                                  {{ 'profile_main.edu_programms.title' | trans }}
                               </span>
                            </p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('main.contest.list', {'university':[university.id]}) }}" class="rubrics-item">
                            <span class="rubric-counter">{{ counters['contestCount'] }}</span>
                            <p>
                                <span class="rubric-title">
                                  {{ 'profile_main.projects.title' | trans }}
                               </span>
                            </p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('main.academic_mobility.list', {'university':[university.id]}) }}" class="rubrics-item">
                            <span class="rubric-counter">{{ counters['academicCount'] }}</span>
                            <p>
                                <span class="rubric-title">
                                  {{ 'profile_menu.academic_mobility.title' | trans }}
                               </span>
                            </p>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('main.practice.list', {'university':[university.id]}) }}" class="rubrics-item">
                            <span class="rubric-counter">{{ counters['bestCount'] }}</span>
                            <p>
                                <span class="rubric-title">
                                  {{ 'profile_main.best_pract.title' | trans }}
                               </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
