{{ uni_logo(mainBranch.university) }}

<div class="about-contacts">

    <p>{{ mainBranch.city }}, {{ mainBranch.translate().getAddress() }}</p>
    <a href="http://maps.google.com/?q={{ mainBranch.city }}, {{ mainBranch.translate().getAddress() }}"
       class="university-map-link" target="_blank">{{ 'show_on_map'|trans }}</a>
    {% if (mainBranch.translate().getUrl()) %}
        <div class="contacts-item">
            <p class="medium about-sub-title">{{ 'university_branch.official_site' | trans }}</p>
            <a href="{{ redirectLink(mainBranch) }}"
                    {% set url = mainBranch.translate().getUrl()|replace({'http://': "", "www." : "", "https://" : ""}) %}
                    {% if url|length > 8 %}
                        {% set url = url|e('url')|split('%')[0] %}
                    {% endif %}
               target="_blank"
               class="university-link">{{ url }}<i
                        class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    {% endif %}
       {% if (mainBranch.translate().getReferencePhone()) %}
        <div class="contacts-item">
            <p class="medium about-sub-title">{{ 'reference' | trans }}</p>
            {{ mainBranch.translate().getReferencePhone() }}
            <a href="mailto:{{ mainBranch.translate().getReferenceMail() }}"
               class="highlighted">{{ mainBranch.translate().getReferenceMail() }}</a>
        </div>
        {% endif %}
        {% if (mainBranch.translate().getSelectionCommitteePhone()) %}
        <div class="contacts-item">
            <p class="medium about-sub-title">{{ 'selection' | trans }}</p>
            {{ mainBranch.translate().getSelectionCommitteePhone() }}
            <a href="mailto:{{ mainBranch.translate().getSelectionCommitteeMail() }}"
               class="highlighted">{{ mainBranch.translate().getSelectionCommitteeMail() }}</a>
        </div>
        {% endif %}
        {#{% if (mainBranch.getWorkingHours()) %}#}
        {#<div class="contacts-item">#}
            {#<p class="medium about-sub-title">{{ 'Working hours' | trans }}</p>#}
            {#{{ mainBranch.getWorkingHours() }}#}
            {# Время выводится только относительно Москвы, не хватает определения пояса по городу и стране#}
            {#{% set currentTimezone = date("Europe/Moscow") %}#}
            {#{% set utc = currentTimezone.diff(date("Atlantic/Reykjavik")) %}#}
            {#{% set msk = currentTimezone.diff(date("Europe/Moscow")) %}#}
            {#<p>#}
                {#{{ mainBranch.city }}<br> MSK+{{ msk|date('%h') }} (UTC+{{ utc|date('%h') }})#}
            {#</p>#}
        {#</div>#}
        {#{%  endif %}#}
</div>
