{% if news is defined  and news|length > 0 %}
    <div class="col-sm-3">
        <ul class="nav nav-tabs main-nav news-nav">
            <li class="active">
                <a href="{{ path('main.news.search', {'universities[]': university.id }) }}">
                    {{ 'news_of_university' | trans }}
                </a>
            </li>
        </ul>
        <div class="border-wrapper clearfix">
            {% for uNews in news %}
                <article class="news-preview">
                    <p class="default-label">
                        <a href="{{ path('home.university.index',{'id': university.id }) }}" class="pink">{{ uNews.university.translate().shortName }}</a>
                        <a href="{{ path('main.news.search',{'rubrics':[uNews.rubric.id]}) }}">{{ uNews.rubric | trans([], 'dictionary') }}</a>
                    </p>
                    <h1>
                        <a href="{{ path('main.news.show', {id: uNews.id}) }}">{{ uNews.translate().title }}</a>
                    </h1>
                </article>
            {% endfor %}
        </div>
    </div>
{% endif %}
