<div class="row about-numbers">
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.educationPrograms }}
        </p>
        <p class="about-info">
            {{ 'slider_programs' | trans }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.students }}
        </p>
        <p class="about-info">
            {{ 'slider_students' | trans }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.staff }}
        </p>
        <p class="about-info">
            {{ 'slider_staff' | trans }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.eduProgramsForeign }}
        </p>
        <p class="about-info">
            {{ 'slider_foreign_programs' | trans }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.foreignStudents }}
        </p>
        <p class="about-info">
            {{ 'slider_foreign_students' | trans }}
        </p>
    </div>
    <div class="col-sm-4">
        <p class="about-title">
            {{ sliderData.internationalLaboratories }}
        </p>
        <p class="about-info">
            {{ 'slider_laboratories' | trans }}
        </p>
    </div>
</div>
