<div class="about-social-links">
    <p class="about-sub-title">{{ 'in_touch' | trans }}</p>

    {% if socialLinks.vkontakte %}
        <a href="{{ socialLinks.vkontakte }}" class="social" target="_blank">
            <i class="fa fa-vk" aria-hidden="true"></i></a>
    {% endif %}

    {% if socialLinks.facebook %}
        <a href="{{ socialLinks.facebook }}" class="social" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i></a>
    {% endif %}

    {% if socialLinks.instagram %}
        <a href="{{ socialLinks.instagram }}" class="social" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
    {% endif %}

    {% if socialLinks.twitter %}
        <a href="{{ socialLinks.twitter }}" class="social" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
    {% endif %}

    {% if socialLinks.youtube %}
        <a href="{{ socialLinks.youtube }}" class="social" target="_blank">
            <i class="fa fa-youtube" aria-hidden="true"></i></a>
    {% endif %}

    {% if socialLinks.telegram %}
        <a href="{{ socialLinks.telegram }}" class="social" target="_blank">
            <i class="fa fa-telegram" aria-hidden="true"></i></a>
    {% endif %}

</div>
