{% for subBranch in subBranches %}
    <div class="content-toggle toggle">
        <input type="hidden" id="lang_key" value="{{ app.request.locale }}">

        {# Toggler header #}
        <label class="control-label">{{ 'branch' | trans }} {{ subBranch.city }}</label>

        {# Toggled content #}
        <div class="content-toggle-item">

            {# Contacts block #}
            <div class="about-contacts">
                <p>{{ subBranch.city }}, {{ subBranch.translate().getAddress() }}</p>
                <a href="http://maps.google.com/?q={{ subBranch.city }}, {{ subBranch.translate().getAddress() }}"
                   class="university-map-link"
                   target="_blank">Посмотреть на карте</a>

                <div class="clearfix">
                    <div class="contacts-item">
                        <p class="medium about-sub-title">{{ 'reference' | trans }}</p>
                        {{ subBranch.translate().getReferencePhone() }}
                        <a href="mailto:{{ subBranch.translate().getReferenceMail() }}"
                           class="highlighted">{{ subBranch.translate().getReferenceMail() }}</a>
                    </div>

                    <div class="contacts-item">
                        <p class="medium about-sub-title">{{ 'selection' | trans }}</p>
                        {{ subBranch.translate().getSelectionCommitteePhone() }}
                        <a href="mailto:{{ subBranch.translate().getSelectionCommitteeMail() }}"
                           class="highlighted">{{ subBranch.translate().getSelectionCommitteeMail() }}</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
{% endfor %}
