{{ form_start(filterForm) }}
<div class="search-top-form row">
    <div class="col-md-7">
        {{ form_label(filterForm.title) }}
        {{ form_widget(filterForm.title, {attr: {placeholder: 'search_placeholder'|trans}}) }}
    </div>
    <div class="col-md-5">
        {{ form_label(filterForm.isPublished) }}
        {{ form_widget(filterForm.isPublished) }}
        <button class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
<div id="search-open" class="search-open bordered-button bordered-button_blue">
    <div id="search-additional-form" class="search-additional-form">
            <div class="clearfix row">
                {% if filterForm.university is defined %}
                    <div class="col-md-6">
                        {{ form_row(filterForm.university) }}
                    </div>
                {% endif %}
                <div class="col-md-6">
                    {{ form_row(filterForm.knowledgeAreaItems) }}
                </div>
            </div>
            <hr/>
            <div class="clearfix row">
                <div class="col-md-4">
                    {{ form_row(filterForm.audiences) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(filterForm.languages) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(filterForm.contestType) }}
                </div>
            </div>
            <hr/>
            <div class="clearfix row">
                <div class="col-md-6">
                    {{ form_row(filterForm.city) }}
                </div>
                {% if filterForm.university is defined %}
                    <div class="col-md-6">
                        {{ form_row(filterForm.university) }}
                    </div>
                {% endif %}
                <div class="col-md-6">
                    <label class="default-label">
                        {{ 'Dates'|trans([], 'dictionary') }}
                    </label>
                    {{ form_widget(filterForm.eventDates.dateBegin) }}
                    <label class="default-label inline"> — </label>
                    {{ form_widget(filterForm.eventDates.dateEnd) }}
                </div>
            </div>
    </div>
    <span class="search-close" data-openText="{{ 'advanced_search'|trans() }}"
          data-closeText="{{ 'hide'|trans() }}">
        {{ 'advanced_search'|trans }}
    </span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>
{{ form_end(filterForm) }}
