<section class="edit-form-wrapper">
    {{ form_start(form) }}

    {% if form.university is defined %}
        {{ form_row(form.university) }}
    {% endif %}

    {{ form_row(form.translations) }}
    {{ form_row(form.knowledgeAreaItems) }}
    <hr/>
    {{ form_row(form.audiences) }}
    <hr/>
    {{ form_row(form.languages) }}
    <hr/>
    <div class="three-columns clearfix">
        {{ form_row(form.contestType) }}
        {{ form_row(form.city) }}
    </div>
    <hr/>
    {{ form_row(form.eventDates) }}
    <hr/>
    <div class="clearfix">
        <p class="required-text">
            {{ 'required' | trans }}
        </p>
        {{ form_widget(form.submitAndPublish, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': { 'class': 'submit-button side-button blue-button default-button'}}) }}
    </div>
    {{ form_end(form) }}
</section>
