<div class="media program">
    <h3 class="media-heading"><a href="{{ item.translate(app.request.getLocale()).pageUrl }}" target="_blank">{{ item.translate(app.request.getLocale()).title }}</a></h3>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('profile.contest.index', {'city[city]': [item.city.id] }) }}">{{ item.city }}</a>
        </li>
        <li>
            <a href="{{ path('profile.contest.index', {'university': [item.university.id] }) }}">{{ item.university.translate().shortName() }}</a>
        </li>
        <li>
            <a href="{{ path('profile.contest.index', {'contestType': [item.contestType.id] }) }}">{{ item.contestType|trans([], 'dictionary') }}</a>
        </li>
    </ol>
    <div class="media-body program-info-container">
        <div class="program-info">
            <div class="row clearfix">
                <div class="program-info-left-column col-md-3">
                    <p>{{ (item.contestType)|trans([], 'dictionary') }}</p>
                    <p>
                        {% set languages = [] %}
                        {% for language in item.languages %}
                            {% set languages = languages|merge([language|trans([], 'dictionary')])%}
                        {% endfor %}
                        {{ languages|join(', ') }}
                    </p>
                    {% if item.audiences %}
                        {% set audienceGroups = [] %}
                        {% for audienceGroup in item.audiences %}
                            {% set audienceGroups = audienceGroups|merge([audienceGroup.transKey|trans([], 'dictionary')])%}
                        {% endfor %}
                        {{ audienceGroups|join(', ') }}
                    {% endif %}
                </div>
                {% if item.createdAt is not empty %}
                <div class="col-md-3">
                        <p class="default-label">
                            {{ 'created.at'|trans([], 'dictionary') }}
                        </p>
                        <p>
                            {{ item.createdAt|date('d.m.Y') }}
                        </p>
                </div>
                {% endif %}
                {% if item.dateBegin or item.dateEnd %}
                <div class="col-md-3">
                    {% if item.dateBegin and item.dateEnd %}
                    <p class="default-label">
                        {{ 'Dates' | trans([], 'dictionary') }}
                    </p>
                    <p>
                            {{ item.dateBegin | date('d.m.Y') }} - {{ item.dateEnd | date('d.m.Y') }}
                        {% elseif item.dateBegin  and item.dateEnd == null %}
                            {{ 'date.from' | trans }}
                            {{ item.dateBegin|date('d.m.Y') }}
                        {% elseif item.dateBegin == null and item.dateEnd  %}
                            {{ 'date.up_to' | trans }}
                            {{ item.dateEnd | date('d.m.Y') }}
                    </p>
                    {% endif %}
                </div>
                {%  endif %}
                <div class="col-md-3">
                    {% if item.dateReceptionEnd %}
                        <p class="default-label">
                            {{ 'registration_end' | trans }}
                        </p>
                        <p>{{ item.dateReceptionEnd|date('d.m.Y') }}</p>
                    {% endif %}
                </div>
                <div class="feed-control">
                    {% if not item.isPublished %}
                        <p class="clearfix"><span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span></p>
                    {% endif %}
                    <a href="#delete-modal" data-action="{{ path('profile.contest.delete', {'id': item.id}) }}"
                       data-toggle="modal" class="feed-remove delete-confirm tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                    </a>
                    <a href="{{ url('profile.contest.edit', {'id': item.id}) }}" class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
