<section class="edit-form-wrapper">
    {{ form_start(form) }}
    {{ form_row(form.translations) }}
    {{ form_row(form.image) }}
    {{ form_row(form.rubric) }}
    {{ form_row(form.keywords, {'attr': {'class': 'select2-apply'}}) }}

    {% if is_granted("CAN_CREATE_NEWS") %}
        {{ form_row(form.type) }}
        {{ form_row(form.university) }}
    {% endif %}

    {{ form_errors(form) }}
    {{ form_label(form.uploadedDocuments) }}
    <div class="form-group form-file-upload">
        {{ form_widget(form.uploadedDocuments) }}
        {{ form_errors(form.uploadedDocuments) }}
    </div>
    {% set prefix = form.vars.name %}
    {% set count = news.uploadedDocuments | length %}
    {% include '@App/form/uploaded_document_collection.html.twig' with {count : count, prefix : prefix} %}

    {% if is_granted("ROLE_NEWS_EDITOR") %}
        {{ form_widget(form.isImportant) }}
    {% endif %}

    {% if is_granted('CAN_PUBLISH_NEWS', form.vars.data) %}
        {{ form_widget(form.submitAndPublish, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'save-button submit-button pink-button side-button default-button'}}) }}
        {% if form.vars.data.isModerating %}
            <a href="{{ path('profile.news.decline', {'id': form.vars.data.id}) }}" class="submit-button side-button blue-button default-button">{{ 'decline'|trans([], 'dictionary') }}</a>
        {% endif %}
    {% elseif form.submitAndModerate is defined %}
        {{ form_widget(form.submitAndModerate, {'attr': {'class': 'submit-button side-button pink-button default-button'}}) }}
        {{ form_widget(form.submit, {'attr': {'class': 'save-button submit-button side-button blue-button default-button'}}) }}
    {% else %}
        {{ form_widget(form.submit, {'attr': {'class': ' submit-button side-button blue-button default-button'}}) }}
    {% endif %}

    {{ form_end(form) }}
</section>
