{{ form_start(searchForm) }}
<div class="search-top-form row">
    <div class="col-md-7">
        {{ form_row(searchForm.title) }}
    </div>
    <div class="col-md-5">
        {{ form_row(searchForm.status) }}
        <button type="submit" class="search-button blue-button default-button">
            {{ 'search'|trans() }}
        </button>
    </div>
</div>
<div id="search-open" class="search-open bordered-button bordered-button_blue">
    <div id="search-additional-form" class="search-additional-form">
        {% if is_granted('ROLE_NEWS_EDITOR') %}
            <div class="row clearfix">
                <div class="col-md-6">
                    {{ form_row(searchForm.university) }}
                </div>
            </div>
            <hr/>
        {% endif %}
        <div class="row clearfix">
            <div class="col-md-6">
                {{ form_row(searchForm.type) }}
            </div>
            <div class="col-md-6">
                {{ form_row(searchForm.rubric) }}
            </div>
        </div>
    </div>

    <span class="search-close" data-openText = "{{ 'advanced_search'|trans() }}" data-closeText="{{ 'hide'|trans() }}">
                            {{ 'advanced_search'|trans }}
                        </span>
    <i class="fa fa-angle-down" aria-hidden="true"></i>
</div>
{{ form_end(searchForm) }}
