{% extends '@App/Profile/index.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            {% block page_header %}
                <h1 class="default-title">
                    Личный кабинет
                </h1>
            {% endblock %}
            <div class="main-wrapper clearfix">
                <aside class="left-wrapper">
                    {% block leftMenu %}
                        {% include 'AppBundle:Profile:left_menu.html.twig' %}
                    {% endblock %}
                </aside>
                <div class="right-wrapper clearfix">
                    {% include "@App/Profile/FlashMessage/flash.html.twig" %}
                    <h2 class="default-sub-title">
                        Новости
                    </h2>
                    <span class="total-counter">
                        {{ newsFeed.getTotalItemCount }}
                    </span>
                    <a href="{{ url('profile.news.create') }}"
                       class="note-button pink-button side-button default-button">
                        Добавить новость
                    </a>
                    <ol class="breadcrumb">
                        <li><a href="/">{{ 'main'|trans }}</a></li>
                        <li class="active">{{ 'profile_menu.news.title'|trans }}</li>
                    </ol>
                    {% include '@App/Profile/News/list_filter.html.twig' %}
                    <section class="feed">

                        {% for news in newsFeed %}
                            <div class="media program">
                                <h3 class="media-heading">
                                    <a href="{{ path('main.news.show', {'id': news.id }) }}">
                                        {{ news.translate().title }}
                                    </a>
                                </h3>
                                <ol class="breadcrumb">
                                    <li><a href="{{ path('profile.news.index', {'rubric': news.rubric.id }) }}">{{ news.rubric|trans([], 'dictionary') }}</a></li>
                                    {% if (is_granted('ROLE_NEWS_EDITOR') or is_granted('ROLE_SITE_ADMIN')) and news.university %}
                                        <li><a href="{{ path('profile.news.index', {'type': news.type.id }) }}">{{ news.type|trans([], 'dictionary') }}</a></li>
                                        <li>{{ news.university.translate().shortName }}</li>
                                    {% else%}
                                        <li><a href="{{ path('profile.news.index', {'type': news.type.id }) }}">{{ news.type|trans([], 'dictionary') }}</a></li>
                                    {% endif %}
                                </ol>
                                <div class="clearfix row">
                                    {% if news.createdAt is not empty %}
                                        <div class="col-sm-4 news-published">
                                            <p class="default-label">
                                                {{ 'created.at'|trans([], 'dictionary') }}
                                            </p>
                                            <p>{{ news.createdAt|date('d.m.Y') }}</p>
                                        </div>
                                    {% endif %}
                                    {% if news.publishedAt is not empty %}
                                        <div class="col-sm-4 news-published">
                                                <p class="default-label">
                                                    {{ 'published.at'|trans([], 'dictionary') }}
                                                </p>
                                            <p>{{ news.publishedAt|date('d.m.Y') }}</p>
                                        </div>
                                    {% endif %}
                                    <div class="feed-control">
                                        {% if news.isDraft %}
                                            <p class="clearfix">
                                              <span class="feed-edit-tag">{{ 'draft'|trans([], 'dictionary') }}</span>
                                            </p>
                                        {% elseif news.isModerating %}
                                            <p class="clearfix">
                                              <span class="feed-edit-tag">{{ 'moderating'|trans([], 'dictionary') }}</span>
                                            </p>
                                        {% endif %}

                                        {% if is_granted('CAN_REMOVE_NEWS', news) %}
                                            <a href="{{ path('profile.news.remove', {'id': news.id}) }}" class="feed-remove tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'delete' | trans }}
                                                </span>
                                            </a>
                                        {% endif %}

                                        {% if is_granted('CAN_EDIT_UNIVERSITY_NEWS', news) %}
                                            <a href="{{ path('profile.news.edit', {'id': news.id}) }}"
                                               class="feed-edit tooltip-toggle">
                                                <span class="tooltip"><i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    {{ 'edit' | trans([], 'dictionary') }}
                                                </span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </section>
                    {{ knp_pagination_render(newsFeed) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
