{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>
                {{ ('flash.'~label)|trans }}
            </strong>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
