{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body_class %}profile-page{% endblock %}

{% block body %}
    <main>
       <div class="container">
           <h1 class="default-title">
               {{ 'top-menu.account'|trans() }}
           </h1>
           <div class="main-wrapper clearfix">
               <aside class="left-wrapper">
                   {% block leftMenu %}
                       {% include 'AppBundle:Profile:left_menu.html.twig' %}
                   {% endblock %}
               </aside>
               <div class="right-wrapper clearfix">
                   <div class="greeting">
                       <h2 class="media-heading">{{ 'profile.main.welcome_header'|trans() }}</h2>
                           {% set menu = knp_menu_get('profile') %}
                           {% do menu.setChildrenAttribute('class', 'greeting-menu clearfix') %}
                           {{ knp_menu_render(menu) }}
                   </div>
               </div>
           </div>
       </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/app-profile.js', 'js_and_css') }}"></script>
    <script>
        AguAPI.addUrl('entrance_tests', '{{ path('entrance_tests') }}');
        AguAPI.addUrl('knowledge_area_items', '{{ path('knowledge_area_items') }}');
        AguAPI.addUrl('university_partners', '{{ path('university_partners') }}');
        AguAPI.addUrl('university_branches', '{{ path('university_branches') }}');
        AguAPI.addUrl('university_branch_cities', '{{ path('university_branch_cities') }}');
    </script>
{% endblock %}
