{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}subscription-page tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'subscription_heading'|trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {%  set alert_class = status == 'ok' ? 'success' : 'warning' %}
                        <div class="alert alert-{{ alert_class }}">
                            {{ message|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
