{% if associationNews|length > 0 %}
    <ul class="nav nav-tabs main-nav news-nav">
        <li class="active">
            <a href="#">
                {{ 'news_association' | trans }}
            </a>
        </li>
    </ul>
    <div class="border-wrapper clearfix">

        {% for news in associationNews | slice(0, 6) %}
            <article class="news-preview">
                <a href="{{ path('main.news.search', {'rubrics': [news.rubric.id]}) }}" class="default-label">
                    {{ news.rubric|trans([], 'dictionary') }}
                </a>
                <h1>
                    <a href="{{ path('main.news.show', {'id': news.id}) }}">{{ news.translate().title }}</a>
                </h1>
            </article>
        {% endfor %}

        <a href="{{path('main.news.search', {'newsType':2}) }}" class="bordered-button bordered-button_yellow no-border">
            <span>{{ 'show_all' | trans }}</span>
        </a>
    </div>
{% endif %}
