{% if bestPractices|length > 0 %}
    <ul class="nav nav-tabs main-nav news-nav">
        <li class="active">
            <a href="#">
                {{ 'profile_main.best_pract.title' | trans }}
            </a>
        </li>
    </ul>

    <div class="border-wrapper clearfix">

        {% for bestPractice in bestPractices %}
            <article class="news-preview">
                <p class="default-label">
                    <a href="{{ path('main.practice.list', {'university': bestPractice.university.id}) }}" class="pink">
                        {{ bestPractice.university.translate().shortName }}
                    </a>
                    <a href="{{ path('main.practice.list', {'scope[]': bestPractice.scope.id}) }}" class="">
                        {{ bestPractice.scope | trans([], 'dictionary') }}
                    </a>
                </p>
                <h1>
                    <a href="{{ path('main.practice.show', {'id': bestPractice.id}) }}">
                        {{ bestPractice.translate().title }}
                    </a>
                </h1>
            </article>
        {% endfor %}

        <a href="{{ path('main.practice.list') }}" class="bordered-button bordered-button_yellow no-border">
            <span>{{ 'show_all' | trans }}</span>
        </a>
    </div>
{% endif %}
