{{ form_start(searchForm) }}
{{ form_row(searchForm.keywords) }}
{{ form_row(searchForm.rubrics) }}
{{ form_row(searchForm.universities) }}
{{ form_row(searchForm.newsType) }}
<div class="form-group form-dates">
    <p class="default-label">
        {{ 'dates'|trans }}
    </p>
    {{ form_widget(searchForm.publishedFrom) }}
    <span class="inline"> — </span>
    {{ form_widget(searchForm.publishedTo) }}
</div>
<div class="center-block">
    <a href="{{ path('main.news.search') }}" class="unbordered-button">{{ 'reset'|trans }}</a>
    <button type="submit" class="search-button blue-button default-button">{{ 'search'|trans }}</button>
</div>
{{ form_end(searchForm) }}
