{% if importantNews|length > 0 %}
    {% set mainNews = importantNews[0] %} {# First news is bigger than others #}
    <div class="col-sm-6">
        <div class="news-item news-item-main">
            <a href="{{ path('main.news.show', {'id': mainNews.id}) }}">{{ news_image(mainNews) }}</a>
            <p class="news-label">
                {% if mainNews.university %}
                    <a href="{{ path('main.news.search', {'universities':[mainNews.university.id]}) }}">{{ mainNews.university.translate().shortName}}</a><br/>
                {% endif %}
                <a href="{{ path('main.news.search', {'rubrics':[mainNews.rubric.id]}) }}">{{ mainNews.rubric|trans([], 'dictionary') }}</a>
            </p>
            <a href="{{ path('main.news.show', {'id': mainNews.id}) }}" class="news-title">
                {{ mainNews.translate().title }}
            </a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">

        {% for news in importantNews|slice(1, 4) %}
            <div class="col-sm-6">
                <div class="news-item">
                    <a href="{{ path('main.news.show', {'id': news.id}) }}">{{ news_image(news) }}</a>
                    <p class="news-label">
                        {% if news.university %}
                            <a href="{{ path('main.news.search', {'universities':[mainNews.university.id]}) }}">{{ news.university.translate().shortName}}</a><br/>
                        {% endif %}
                        <a href="{{ path('main.news.search', {'rubrics':[mainNews.rubric.id]}) }}">{{ news.rubric|trans([], 'dictionary') }}</a>
                    </p>
                    <a href="{{ path('main.news.show', {'id': news.id}) }}" class="news-title">
                        {{ news.translate().title }}
                    </a>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
{% endif %}
