{% extends '@App/base.html.twig' %}

{% block title %}{{ 'seo.title.news_page'|trans }}{% endblock %}
{% block descrition %}{{ 'seo.description.news_page'|trans }}{% endblock %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}news-page{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <h1 class="default-title black">
                    {{ 'profile_menu.news.title' | trans }}
                </h1>
                <div class="news-rubrics clearfix row">
                    {% include '@App/default/News/important_news.html.twig' %}
                </div>
                <div class="news-more clearfix row">
                    <div class="col-sm-6">
                        {% include '@App/default/News/university_news.html.twig' %}
                    </div>
                    <div class="col-sm-3">
                        {% include '@App/default/News/association_news.html.twig' %}
                    </div>
                    <div class="col-sm-3">
                        {% include '@App/default/News/best_practices.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
