{% extends '@App/default/base_feed_with_filter.html.twig' %}

{% set h1_title = 'profile_menu.news.title' | trans([], 'messages') %}
{% set totalItemCount = foundedNews.getTotalItemCount %}
{% set page_class = 'programms-page' %}
{% set body_class = 'programms tinted' %}

{% block filters_wrapper %}
<div class="search-form news-search">
    {% include '@App/default/News/filter.html.twig' %}
</div>
{% endblock %}

{% block feed_wrapper %}
    <div class="practice-feed">
        {% for news in foundedNews %}
            <div class="media program">
                <h2 class="media-heading">
                    <a href="{{ path('main.news.show', {id: news.id}) }}" target="_blank">
                        {{ news.translate().title }}
                    </a>
                </h2>
                <div class="content-info">
                    <ol class="breadcrumb">
                        {% if news.university %}
                            <li>
                                <a href="{{ path('main.news.search', {'universities[]': news.university.id }) }}">{{ news.university.translate().shortName }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('main.news.search', {'newsType':news.type.id }) }}">{{ news.type | trans([], 'dictionary') }}</a>
                        </li>
                        <li>
                            <a href="{{ path('main.news.search', {'rubrics[]': news.rubric.id }) }}">{{ news.rubric | trans([], 'dictionary') }}</a>
                        </li>
                    </ol>
                    <p class="pub-date default-label"><a href="{{ path('main.news.search', {'publishedFrom': news.publishedAt| date('Y-m-d') }) }}">{{ news.publishedAt|date('d-m-Y') }}</a></p>
                </div>
                {% if news.university %}
                    <div class="media-left">
                        <a href="{{ path('home.university.index', {'id': news.university.id }) }}">{{ uni_logo(news.university) }}</a>
                    </div>
                {% endif %}
                <div class="media-body practice-info">
                    {{ news.translate().lead }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block paginator %}
<div class="navigation">
    {{ knp_pagination_render(foundedNews) }}
</div>
{% endblock %}
