{% extends '@App/base.html.twig' %}

{% block title %}{{ news.translate().title }}{% endblock %}
{% block description %}{{ news.translate().lead }}{% endblock %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% set body_class = 'news-show' %}
{% set isAssociationNews = news.type == 'news_type.association_news' %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="news-heading">
            {% set backgroundSrc = isAssociationNews
            ? 'bundles/app/css/img/agu-background-news.jpg'
            : 'bundles/app/css/img/university/page/'~news.university.photo %}
            <img src="{{ asset(backgroundSrc|default('')) }}" alt=""/>
            <div class="container">
                <h1 class="default-title">
                    {{ 'middle-menu.news' | trans }}
                </h1>
            </div>
        </section>
        <section class="content news-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 news-show-info">
                        {% if isAssociationNews %}
                            <img class="news-show-logo" src="{{ asset('bundles/app/css/img/logo-blue.png') }}" alt=""/>
                        {% else %}
                            <a href="{{ path('home.university.index', {'id': news.university.id }) }}">{{ uni_logo(news.university) }}</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-7 news-text">
                        <h2>{{ news.translate().title }}</h2>
                        <div class="content-info">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('main.news.index') }}">{{ 'news.main'|trans([], 'dictionary') }}</a></li>
                                <li><a href="{{ path('main.news.search') }}">{{ 'catalogue_news'|trans }}</a></li>
                            </ol>
                            <p class="default-label">
                                <a href="{{ path('main.news.search', {'rubrics[]': news.rubric.id }) }}"><span class="pink">{{ news.rubric | trans([], 'dictionary') }}</span></a>
                                <a href="{{ path('main.news.search', {'publishedFrom': news.publishedAt| date('Y-m-d') }) }}">{{ news.publishedAt | date('d-m-Y') }}
                                </a>
                            </p>
                        </div>
                        <div class="excerp">
                            {{ news.translate().lead }}
                        </div>
                        <div class="news-main-text">
                            {% if news.image %}
                                <img class="float-img" src="{{ news.imagePath }}" alt="{{ news.translate().title }}">
                            {% endif %}
                            {{ news.translate().content | raw }}
                        </div>
                        <div>
                            {{ news.translate().videoCode | raw }}
                        </div>
                        <hr/>
                        <div class="clearfix row">
                            <div class="col-md-6">
                                <p class="university-link">{{ 'source'|trans }}
                                    <a href="{{ redirectLink(news) }}" target="_blank">
                                        {% set url = news.translate().sourceLink|replace({'http://': "", "www." : "", "https://" : ""}) %}
                                        {% if url|length > 8 %}
                                            {% set url = url|e('url')|split('%')[0] %}
                                        {% endif %}
                                        {{ url }}
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                    </a>
                                </p>
                                <p>
                                    {% for keyword in news.keywords %}
                                        <a href="{{ path('main.news.search', {'keywords[]': keyword.id }) }}" class="pink">#{{ keyword.name }}{{ not loop.last ? ' ' }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-md-6">
                                {% for document in news.uploadedDocuments %}
                                    <a href="{{ path('download.document', {id:document.id}) }}" class="download-link">{{ document.viewName }}<span>{{ document.getFormattedBytes() }}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                        <hr/>
                        <div class="clearfix row">
                            <div class="col-md-6 pull-right">
                                <div class="about-social-links">
                                    <p>{{ 'social_share' | trans }}

                                        <a href="{{ build_url('http://vk.com/share.php', {
                                            url: app.request.uri,
                                            title: news.translate().title,
                                            image: news.photos[0].link | default('')
                                        }) }}" class="social" target="_blank">
                                            <i class="fa fa-vk" aria-hidden="true"></i></a>

                                        <a href="{{ build_url('http://www.facebook.com/sharer.php', {
                                            u: app.request.uri
                                        }) }}" class="social" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i></a>

                                        <a href="{{ build_url('http://twitter.com/share', {
                                            url: app.request.uri,
                                            text: news.translate().title
                                        }) }}" class="social" target="_blank">
                                            <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if relatedNews is defined and relatedNews|length > 0 %}
                        <div class="col-sm-3">
                            <ul class="nav nav-tabs main-nav news-nav">
                                <li class="active">
                                    <a href="#">
                                        {% set relatedNewsTitle = isAssociationNews
                                        ? 'news_type.association_news'|trans([], 'dictionary')
                                        : 'news.similar'|trans([], 'dictionary') %}
                                        {{ relatedNewsTitle }}
                                    </a>
                                </li>
                            </ul>
                            <div class="border-wrapper clearfix">
                                {% for related in relatedNews %}
                                    <article class="news-preview">
                                        <p class="default-label">
                                            {% if not isAssociationNews %}
                                               <a href="{{ path('main.news.search', {'universities[]': related.university.id }) }}">
                                                <span class='pink'>{{ related.university.translate().shortName }}</span>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('main.news.search', {'rubrics[]': related.rubric.id }) }}">
                                                {{ related.rubric | trans([], 'dictionary') }}
                                            </a>
                                        </p>
                                        <h1>
                                            <a href="{{ path('main.news.show', {id: related.id}) }}">{{ related.translate().title }}</a>
                                        </h1>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
