{% set universityNews = universityNews | slice(0, 10) %}
{% set length = universityNews|length %}

{% if length > 0 %}

    {% set counter = 1 %}
    {% for news in universityNews %}
        {% if counter % 4 == 0 and length - loop.index0 >= 2 %}
            <div class="row">
            <div class="col-md-6">
                <article class="news-item">
                    {{ news_image(news) }}
                    <p class="news-label">
                        <a href="{{ path('main.news.search', {'universities':[news.university.id]}) }}">{{ news.university.translate().shortName }}</a><br/>
                        <a href="{{ path('main.news.search', {'rubrics':[news.rubric.id]}) }}">{{ news.rubric|trans([], 'dictionary') }}</a>
                    </p>
                    <a href="{{ path('main.news.show', {'id': news.id}) }}" class="news-title">
                        {{ news.translate().title }}
                    </a>
                </article>
            </div>
        {% elseif counter % 5 == 0 %}
            <div class="col-md-6">
                <article class="news-item">
                    {{ news_image(news) }}
                    <p class="news-label">
                        <a href="{{ path('main.news.search', {'universities':[news.university.id]}) }}">{{ news.university.translate().shortName }}</a><br/>
                        <a href="{{ path('main.news.search', {'rubrics':[news.rubric.id]}) }}">{{ news.rubric|trans([], 'dictionary') }}</a>
                    </p>
                    <a href="{{ path('main.news.show', {'id': news.id}) }}" class="news-title">
                        {{ news.translate().title }}
                    </a>
                </article>
            </div>
            </div>
            {% set counter = 0 %}
        {% else %}
            <article class="news-preview">
                <p class="default-label">
                    <a href="{{ path('main.news.search', {'universities':[news.university.id]}) }}" class="pink">{{ news.university.translate().shortName }}</a>
                    <a href="{{ path('main.news.search', {'rubrics':[news.rubric.id]}) }}">{{ news.rubric|trans([], 'dictionary') }}</a>
                </p>
                <h1>
                    <a href="{{ path('main.news.show', {'id': news.id}) }}">{{ news.translate().title }}</a>
                </h1>
            </article>
        {% endif %}

        {% set counter = counter + 1 %}

    {% endfor %}

    <a href="{{ path('main.news.search', {'newsType':1}) }}" class="show-more-news bordered-button bordered-button_yellow">
        <span>{{ 'show_all' | trans }}</span>
    </a>
{% endif %}
