{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include 'AppBundle::header.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    {% block main %}
        <main>
            {% block default_title %}
            <section class="title-wrapper">
                <div class="container">
                    <h1 class="default-title">
                        {{ h1_title }} <span
                            class="total-counter">{{ totalItemCount }}</span>
                    </h1>
                </div>
            </section>
            {% endblock %}
            {% block page %}
                <section class="{{ page_class|default('') }}">
                    {% block container %}
                        <div class="container">
                            {% block main_wrapper %}
                                <div class="main-wrapper clearfix">
                                    {% block left_wrapper %}
                                        <aside class="left-wrapper">
                                            {% block filters_wrapper %}
                                                <div class="search-form">
                                                    {% block filters %}

                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                        </aside>
                                    {% endblock %}
                                    {% block right_wrapper %}
                                        <div class="right-wrapper clearfix">
                                            {% block feed_wrapper %}
                                                <div class="program-container container-fluid row">
                                                    {% block feed %}

                                                    {% endblock %}
                                                </div>
                                            {% endblock %}
                                            {% block navigation %}
                                                {% block show_more %}{% endblock %}
                                                {% block paginator %}

                                                {% endblock %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </section>
            {% endblock %}
        </main>
    {% endblock %}
{% endblock %}
