<div class="col-lg-3 col-md-6">
    <div class="news-item">
        <a href="{{ path('main.news.show', {'id': news.id}) }}">{{ news_image(news) }}</a>
        <p class="news-label">
            {% if news.university %}
                <a href="{{ path('main.news.search', {'universities':[news.university.id]}) }}">{{ news.university.translate().shortName}}</a><br/>
            {% endif %}
        </p>
        <a href="{{ path('main.news.show', {'id': news.id}) }}" class="news-title">
            {{ news.translate().title }}
        </a>
    </div>
</div>
