<section class="news">
    <div class="container">
        <ul class="nav nav-tabs main-nav news-nav">
            <li class="active">
                <a href="#" data-toggle="tab" data-target="#news-tab">
                    {{ 'static.main.news_and_events.news'|trans }}
                </a>
            </li>
            <li>
                <a href="#" data-toggle="tab" data-target="#events-tab">
                    {{ 'static.main.news_and_events.event'|trans }}
                </a>
            </li>
        </ul>
        <div class="clearfix tab-content">
            <div id="news-tab" class="tab-pane active">
                <ul class="news-tags">
                    <li class="active">
                        <a href="#university-news" data-toggle="tab" data-target="#university-news">
                            {{ 'static.main.news_and_events.news.university_news.regular'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#association-news" data-toggle="tab" data-target="#association-news">
                            {{ 'static.main.news_and_events.news.association_news.regular'|trans }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="university-news">
                        <div class="row">
                            {% for news in newsUniversity %}
                                {% include "AppBundle:Default:news_item.html.twig" with {news:news} %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="association-news">
                        <div class="row">
                            {% for news in newsAssociations %}
                                {% include "AppBundle:Default:news_item.html.twig" with {news:news} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- EVENT TAB -->
            <div id="events-tab" class="tab-pane">
                <div class="row events">
                    <!-- Events content -->
                    {% for academicMobility in academicMobilities %}
                    <div class="col-lg-3 col-md-6">
                        <div class="news-item">
                            <p class="news-label">
                                <a href="{{ path('main.academic_mobility.list', {'university[]': academicMobility.university.id}) }}" class="pink">{{ academicMobility.university.translate().shortName }}</a><br/>
                                <a href="{{ path('main.academic_mobility.list', {'mobilityType': academicMobility.mobilityType.id}) }}">{{ academicMobility.mobilityType.transKey|trans([], 'dictionary') }}</a>
                            </p>
                            <p class="news-title">
                                {% if academicMobility.dateBegin %}
                                    <a href="{{ path('main.academic_mobility.list', {'dateBegin[date]': academicMobility.dateBegin|date('Y-m-d') }) }}" class="event-date">
                                            {{ academicMobility.dateBegin|date('d-m-Y') }}
                                    </a>
                                {% endif %}
                                <a href="{{ academicMobility.translate().pageUrl }}" target="_blank">
                                    {{  academicMobility.translate().title }}
                                </a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
