{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    {% include "AppBundle::header.html.twig" %}
{% endblock %}

{% block body_class %}registration-page tinted{% endblock %}

{% block footer %}
    {% include 'AppBundle::footer.html.twig' %}
{% endblock %}

{% block body %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'registration.heading'|trans }}
                </h1>
            </div>
        </section>
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">
                        <p class="alert alert-success">
                            {{ 'registration.congratulations'|trans }}
                            <strong>{{ personality.associationPosition.transKey|default('none')|trans([], 'dictionary') }}.</strong>
                            {{ 'registration.your_login'|trans }} <strong>{{ personality.email }}</strong>
                        </p>
                    </div>
                </div>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.photo) }}
                    </div>
                    <div class="col-md-8">
                        <h3>{{ 'registration.edit_yourself'|trans }}</h3>
                        {{ form_row(form.translations) }}
                        {{ form_row(form.workPlace) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.link) }}
                        <h3>{{ 'registration.enter_password'|trans }}</h3>
                        <div class="password-block">
                            <small class="hint">{{ 'personality.password_pattern_not_matched'|trans([], 'validators') }}</small>
                            {{ form_row(form.plainPassword) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
