{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'seo.title.programs_page'|trans }}{% endblock %}
{% block descrition %}{{ 'seo.description.programs_page'|trans }}{% endblock %}

{% set body_class = 'programms tinted' %}
{% block body %}
    {% include '@App/header.html.twig' %}
    <main>
        <section class="title-wrapper">
            <div class="container">
                <h1 class="default-title">
                    {{ 'profile_main.edu_programms.title'| trans }} <span class="total-counter">{{ programs.getTotalItemCount }}</span>
                </h1>
            </div>
        </section>
        <section class="programms-page">
           <div class="container">
            <div class="main-wrapper clearfix">
                    <aside class="left-wrapper">
                        <div class="search-form">
                        {% include "@App/default/Program/programFilter.html.twig" %}
                        </div>
                    </aside>
                    <div class="right-wrapper clearfix">
                        <div class="program-container container-fluid row">
                            {% for program in programs %}
                                <div class="media program">
                                    <h2 class="media-heading">
                                        <a href="{{ redirectLink(program) }}" target="_blank">{{ program.translate().getName() }}</a>
                                    </h2>
                                    <ol class="breadcrumb">
                                        <li>
                                            <a href="{{ path('main.program.list',
                                            {
                                                'branchCities': [program.universityBranch.city.id]
                                            }
                                            )}}">{{ program.universityBranch.city }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main.program.list',
                                            {
                                                'university': [program.universityBranch.university.id]
                                            }
                                            )}}">
                                            {{ program.universityBranch.university.translate().shortName }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('main.program.list',
                                            {
                                                'knowledgeArea': program.knowledgeArea.id,
                                                'knowledgeAreaItem': [program.knowledgeAreaItem.id]
                                            }
                                            )}}">
                                                {{ program.knowledgeAreaItem.transKey|trans([], 'dictionary') }}
                                            </a>
                                        </li>
                                    </ol>
                                    <div class="media-left">
                                        <a href="{{ path('home.university.index', {'id': program.universityBranch.university.id}) }}">
                                            {{ uni_logo(program.universityBranch.university) }}
                                        </a>
                                    </div>
                                    <div class="media-body program-info-container">
                                        <div class="program-info">
                                            <div class="clearfix">
                                                <div class="program-info-left-column col-md-4">
                                                    {% set years = program.duration // 12 %}
                                                    {% set months = program.duration % 12 %}
                                                    <p>
                                                        {{ program.educationLevel.transKey|trans([], 'dictionary') }}
                                                        / {{ program.educationForm.transKey|trans([], 'dictionary') }},
                                                        {% if years > 0 %}
                                                            {{ years }} {{ 'years'|transchoice(years, [], 'dictionary') }}
                                                        {% endif %}
                                                        {% if months > 0 %}
                                                            {{ months }} {{ 'months'|transchoice(months, [], 'dictionary') }}
                                                        {% endif %}
                                                    </p>
                                                    <p>
                                                        {% set languages = [] %}
                                                        {% for language in program.languages %}
                                                            {% set languages = languages|merge([language|trans([], 'dictionary')])%}
                                                        {% endfor %}
                                                        {{ languages|join(', ') }}
                                                    </p>
                                                    {% if program.hasMilitaryDepartment %}
                                                        <p>{{ 'Has military department' | trans ([], 'dictionary') }}</p>
                                                    {% endif %}

                                                    {% if program.exchangeStudy %}
                                                        <p>{{ 'Exchange study' | trans([], 'dictionary') }}</p>
                                                    {% endif %}

                                                    {% if program.doubleDiploma %}
                                                        <p>{{ 'Double diploma'| trans([], 'dictionary') }}</p>
                                                    {% endif %}
                                                </div>

                                                <div class="program-info-left-column col-md-4">
                                                    {% if program.budgetPlaces or program.contractPlaces %}
                                                        <p class="default-label">{{ 'places'|trans }}</p>
                                                    {%  endif %}

                                                    {% if program.budgetPlaces %}
                                                        <p>
                                                            {{ 'budget'|trans }}: {{ program.budgetPlaces }}
                                                            {% if program.entranceScore %}
                                                                / <span>{{ program.entranceScore }} {{ 'score' | trans() }}</span>
                                                            {% endif %}
                                                        </p>
                                                    {% endif %}

                                                    {% if program.contractPlaces %}
                                                        <p>
                                                            {{ 'contract'|trans }}: {{ program.contractPlaces }} /
                                                            <span>{{ (program.price * 1000) | number_format(0, '.', ' ') }} {{ 'per_year'|trans }}</span>
                                                        </p>
                                                    {% endif %}

                                                    {% if program.foreignPlaces %}
                                                        <p>
                                                            {{ 'foreign'|trans }}: {{ program.foreignPlaces }}
                                                            / <span>{{ (program.foreignPrice * 1000) | number_format(0, '.', ' ') }} {{ 'per_year'|trans }}</span>
                                                        </p>
                                                    {% endif %}
                                                </div>
                                                <div class="program-info-right-column col-md-4">
                                                    {% if program.entranceTests|length > 0 %}
                                                    <p class="default-label">{{ 'tests'|trans }}</p>
                                                    {% set tests = [] %}
                                                    {% for test in program.entranceTests %}
                                                        {% set test = test|trans([], 'dictionary') %}
                                                        {% set tests = tests|merge([test]) %}
                                                    {% endfor %}
                                                    <p>{{ tests|join(', ')}}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if program.partners|length > 0 %}
                                                {% for partner in program.partners|slice(0, 3)%}
                                                    <div class="program-partner col-sm-8">
                                                        <a href="{{ partner.translate().url }}" target="_blank" class="program-partner-ico">
                                                            {% if partner.image %}
                                                                <img src="{{ partner.imagePath }}" alt="{{ partner }}">
                                                            {% endif %}
                                                        </a>
                                                        <div class="pull-left">
                                                            <p class="default-label">
                                                                {{ 'Partner'|trans([], 'dictionary') }}
                                                                {% if program.doubleDiploma %}
                                                                    {{ 'of the double degree program'| trans([], 'dictionary') }}
                                                                {% endif %}
                                                            </p>
                                                            <p>{{ partner }}</p>
                                                            <p>
                                                                <a href="{{ partner.translate().url }}" target="_blank" class="university-link">
                                                                    {{ partner.translate('en').name }}, {{ partner.translate('en').shortName }}<i class="fa fa-external-link" aria-hidden="true"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                    </div>
                            </div>
                                </div>
                        {% endfor %}
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(programs) }}
                    </div>
                </div>
        </div>
       </div>
        </section>
    </main>

    {% include '@App/footer.html.twig' %}
{% endblock %}
