<div class=""></div>
{{ form_start(form) }}
    {% form_theme form.entranceTests "AppBundle:form:select_mapping_entity_type.html.twig" %}
    {% form_theme form.knowledgeAreaItem "AppBundle:form:select_mapping_entity_type.html.twig" %}
    {% form_theme form.branchCities "@App/form/select_mapping_entity_type.html.twig" %}
<div class="form-group">
    {{ form_row(form.university) }}
</div>
<div class="form-group">
    <label for="name" class="control-label">{{ 'Name' | trans([], 'dictionary') }}</label>
    {{ form_widget(form.name, {'attr':  {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.knowledgeArea) }}
    {{ form_widget(form.knowledgeArea, {'attr':  {'class': 'form-control'}}) }}
    {{ form_errors(form.knowledgeArea) }}
</div>
<div class="form-group">
    {{ form_label(form.knowledgeAreaItem) }}
    {{ form_widget(form.knowledgeAreaItem, {'attr':  {'class': 'form-control'}}) }}
    {{ form_errors(form.knowledgeAreaItem) }}
</div>
<div class="form-group">
    {{ form_label(form.educationForm) }}
    {{ form_widget(form.educationForm) }}
    {{ form_errors(form.educationForm) }}
</div>
<div class="form-group">
    {{ form_label(form.educationLevel) }}
    {{ form_widget(form.educationLevel) }}
    {{ form_errors(form.educationLevel) }}
</div>
<div class="form-group">
    {{ form_label(form.entranceTests) }}
    {{ form_widget(form.entranceTests) }}
    {{ form_errors(form.entranceTests) }}
</div>
<div class="form-group">
    {{ form_row(form.hasBudgetPlaces) }}
    {{ form_row(form.hasForeignPlaces) }}
    {{ form_row(form.hasDoubleGraduate) }}
    {{ form_row(form.hasMilitaryDepartment) }}
</div>
<div class="form-group form-prices">
    {{ form_label(form.priceFrom, 'price_from') }}
    {{ form_widget(form.priceFrom) }}
    {{ form_errors(form.priceFrom) }}
    <span>—</span>
    {{ form_widget(form.priceTo) }}
    {{ form_errors(form.priceTo) }}
    <span class="default-label inline">{{ 'price'|trans }}</span>
</div>
<div class="form-group">
    {{ form_row(form.languages) }}
</div>
<div class="form-group">
    {{ form_label(form.branchCities) }}
    {{ form_widget(form.branchCities) }}
    {{ form_errors(form.branchCities) }}
</div>
<div class="center-block">
    <a href="{{ path('main.program.list') }}" class="unbordered-button">{{ 'reset'|trans }}</a>
    <button type="submit" class="search-button blue-button default-button">{{ 'search'|trans }}</button>
</div>

{{ form_end(form) }}

{% include '@App/vue-components.html.twig' %}
